﻿@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/menustyles.css">
}
<main class="wrap">
    <aside class="filters" data-step="1" data-title="Categorías" data-position="right" data-intro='Aqui puedes clickear en la categoría de producto que necesites.'>
        <a class="filter-item" asp-controller="Menu" asp-action="Index"><i class="fas fa-pizza-slice"></i> Básicas</a>
        <a class="filter-item" asp-controller="Menu" asp-action="Specials"><i class="fas fa-pizza-slice"></i>Especialidades</a>

        <a class="filter-item" asp-controller="Menu" asp-action="Spaghettis"><i class="fas fa-stroopwafel"></i> Espaguetis</a>

        <a class="filter-item" asp-controller="Menu" asp-action="Complements"><i class="fas fa-utensils"></i> Complementos</a>

        <a class="filter-item" asp-controller="Menu" asp-action="Drinks"><i class="fas fa-glass-whiskey"></i> Bebidas</a>

    </aside>
    @RenderBody()
</main>

@section Scripts {
@if (ViewBag.ShowOnboarding)
{
    <script>
        introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();
    </script>
}
    @RenderSection("Scripts", required:false)
}
