﻿@model List<PizzaBasicaViewModel>
@{
    ViewData["Title"] = "Pizzas Basicas";
}



<section class="food-items" data-step="2" data-title="Productos" data-position="left" data-scrollto="tooltip" data-intro='Aqui se muestran los alimentos segun la categoria que hayas hecho click'>
    <h2>PIZZAS BÁSICAS</h2>
    @foreach(var pizza in Model)
    {
        <div class="card-content basic-product"  data-step="3" data-title="Ordena tu pizza!" data-intro='Si deseas comprar una pizza, pulsa el boton ordenar ahora' data-position="right">
            <img src="/Imagenes/GetImage?id=@pizza.ImagenID" alt="producto">
            <p class="card-title" title="@pizza.Nombre">@pizza.Nombre</p>
            <p class="card-description">@pizza.Descripcion</p>
            <span class="card-price">$@pizza.Precio</span>
            <!-- <a href="#" class="btn-details">Ver Detalles</a> -->
            <a asp-controller="Producto" asp-action="Basics" asp-route-id="@pizza.ID"  data-step="4" data-title="Mira todos los detalles!" data-intro='Al hacer click en el boton de ordenar ahora, podras seleccionar mas detalles de tu pizza' data-position="right">Ordenar Ahora</a>
        </div>
    }
</section>
<aside class="info-aside">
    <h3>Disfruta de nuestras pizzas básicas!</h3>
    <p>Personaliza tu pizza agregando ingredientes extra por tan solo</p>
    <h4>$30 C/Ing</h4>
</aside>

@section Scripts {

}
