﻿@model List<ArticuloViewModel> 
@{
    ViewData["Title"] = "Complementos";

}


<section class="food-items" data-step="2" data-title="Productos" data-position="left" data-scrollto="tooltip" data-intro='Aqui se muestran los alimentos segun la categoria que hayas hecho click'>
    <h2>COMPLEMENTOS</h2>
    @foreach (var complement in Model)
    {
        <div class="card-content" data-step="3" data-title="Ordena tu pizza!" data-intro='Si deseas comprar un producto, pulsa el boton ordenar ahora' data-position="right">
            <img src="/Imagenes/GetImage?id=@complement.ImagenID" alt="producto">
            <p class="card-title" title="@complement.Nombre">@complement.Nombre</p>
            <p class="card-description">@complement.Descripcion</p>
            <span class="card-price">$@complement.Precio</span>
            <!-- <a href="#" class="btn-details">Ver Detalles</a> -->
            <a asp-controller="Producto" asp-action="Extras" asp-route-id="@complement.ID" data-step="4" data-title="Mira todos los detalles!" data-intro='Al hacer click en el boton de ordenar ahora, podras seleccionar la cantidad de productos y algunos otros detalles' data-position="right">Ordenar Ahora</a>
        </div>
    }
</section>
<aside class="info-aside">
    <h3>Complementa tu pizza con nuestros increibles platillos extra!</h3>
</aside>