﻿@model List<ArticuloViewModel>
@{
    ViewData["Title"] = "Complementos";

}


<section class="food-items" data-step="2" data-title="Productos" data-position="left" data-scrollto="tooltip" data-intro='Aqui se muestran los alimentos segun la categoria que hayas hecho click'>
    <h2>BEBIDAS</h2>
    @foreach (var drink in Model)
    {
        <div class="card-content" data-step="3" data-title="Ordena una bebida!" data-intro='Si deseas comprar un producto, pulsa el boton ordenar ahora' data-position="right">
            <img src="/Imagenes/GetImage?id=@drink.ImagenID" alt="producto">
            <p class="card-title" title="@drink.Nombre">@drink.Nombre</p>
            <p class="card-description">@drink.Descripcion</p>
            <span class="card-price">$@drink.Precio</span>
            <!-- <a href="#" class="btn-details">Ver Detalles</a> -->
            <a asp-controller="Producto" asp-action="Extras" asp-route-id="@drink.ID" data-step="4" data-title="Mira todos los detalles!" data-intro='Al hacer click en el boton de ordenar ahora, podras seleccionar la cantidad de productos y algunos otros detalles' data-position="right">Ordenar Ahora</a>
        </div>
    }
</section>
<aside class="info-aside">
    <h3>Acompaña tu pizza con una refrescante bebida!</h3>
</aside>