﻿@model List<PizzaEspecialViewModel>
@{
    ViewData["Title"] = "Menu";
}


<section class="food-items" data-step="2" data-title="Productos" data-position="left" data-scrollto="tooltip" data-intro='Aqui se muestran los alimentos segun la categoria que hayas hecho click'>
    <h2>ESPECIALIDADES</h2>
    <h3 id="emptyIngredientesMessage" style="display:none;">No hay especialidades con esa combinacion de ingredientes.</h3>
    @foreach (var pizza in Model)
    {
    <div class="card-content" data-topping-filter="@{pizza.Ingredientes.ForEach(ingredient => Write(ingredient.ID + ";"));} " data-step="4" data-title="Ordena tu pizza!" data-intro='Si deseas comprar una pizza, pulsa el boton ordenar ahora' data-position="right">
        @*<img src="~/img/pizzafromtop1.png" alt="producto">*@
        <img src="/Imagenes/GetImage?id=@pizza.ImagenID" alt="producto">
        <p class="card-title" title="@pizza.Nombre">@pizza.Nombre</p>
        <p class="card-description">@pizza.Descripcion</p>
        <span class="card-price">$@pizza.Precio</span>
        <a asp-controller="Producto" asp-action="Specials" asp-route-id="@pizza.ID" data-step="5" data-title="Mira todos los detalles!" data-intro='Al hacer click en el boton de ordenar ahora, podras seleccionar mas detalles de tu pizza' data-position="right">Ordenar Ahora</a>
    </div>
    }
    
</section>
<aside class="specific-filters" data-step="3" data-title="Filtro de Ingredientes" data-intro='Filtra las distantas especialidades segun los ingredientes que tu desees' data-position="left">
    <h3>Filtros</h3>
    <label for="ingredientes">Ingredientes: </label>
    <div class="toppings-filter">
        <ul class="toppings-included">
            @*<li><img src="~/img/iconlistIngredientesWhite.png" /><span>Prueba</span></li>*@
        </ul>
        <button name="ingredientes" class="btn-toppings active"><i class="fas fa-minus-square"></i> Ocultar Ingredientes</button>
        <div class="acord-cont active">
            @foreach (var ingredient in ViewBag.IngredientsList)
            {
                <div class="topping-check">
                    <input type="checkbox" id="@ingredient.Nombre" value="@ingredient.ID"> <label for="@ingredient.Nombre">@ingredient.Nombre</label>
                </div>
            }
        </div>
    </div>
    <!-- <label for=""></label> -->
</aside>

@section Scripts {
    <script>
        $('document').ready(function () {
            $('.btn-toppings').click(function () {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).html('<i class="fas fa-minus-square"></i> Ocultar Ingredientes');
                } else {
                    $(this).html('<i class="fas fa-plus-square"></i> Mostrar Ingredientes');
                }

                let panel = $(this).next();
                panel.toggleClass('active');
                
            });
            updateCardsByFilter()
            $('.topping-check input').change(function () {
                updateCardsByFilter();
                $('#validationToppings').hide();
                $('.toppings-included').empty();
                var ingredientes = $('.topping-check  input:checked');
                ingredientes.each(function () {


                    var toppingItemList = $('<li></li>');
                    toppingItemList.attr('data-topping', $(this).val());
                    var toppingImg = $('<img/>').attr('src', '/img/iconlistIngredientesWhite.png');
                    var toppingName = $('<span></span>').text($(this).next().text()).append($('<i class="fas fa-times-circle"></i>'));

                    toppingItemList.append(toppingImg, toppingName);

                    $('.toppings-included').append(toppingItemList);


                });
            });

            function updateCardsByFilter() {
                var ingredientes = $('.topping-check  input:checked');
                var ingredientesIdSelected = [];

                ingredientes.each(function () {
                    ingredientesIdSelected.push($(this).val());
                });


                var especiales = $('.card-content');
                especiales.hide();

                var especialesEncontradas = 0;
                especiales.each(function () {

                    var filtros = $(this).attr('data-topping-filter').split(';');
                    filtros.pop();
                    if (ingredientesIdSelected.every(i => filtros.includes(i))) {
                        especialesEncontradas++;
                        $(this).fadeIn('slow');
                    }

                })

                if (especialesEncontradas == 0) {
                    $('#emptyIngredientesMessage').show();
                } else {
                    $('#emptyIngredientesMessage').hide();
                }

            }

     


            $('.toppings-included').on('click', 'li', function () {
                var toppingId = $(this).attr('data-topping');

                var ingrediente = $('.topping-check  input[value="' + toppingId + '"]:checked');
                updateCardsByFilter()

                ingrediente.prop('checked', false);

                updateCardsByFilter();
                $(this).fadeOut(200, function () { remove() });
            });
        });
    </script>

}
