﻿@model InicioViewModel
@{
    ViewData["Title"] = "Inicio";

    
}

@section Styles {
    @*<link rel="stylesheet" href="~/css/lightslider.css" />*@
}

<main class="@(!(User.Identity.IsAuthenticated) ? "main-page" : "")">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" class="slide-radio">
            <input type="radio" name="radio-btn" id="radio2" class="slide-radio">
            <input type="radio" name="radio-btn" id="radio3" class="slide-radio">
            <input type="radio" name="radio-btn" id="radio4" class="slide-radio">
            <div class="slide first">
                <div class="slide-img" style="background-image: url('../img/pizzastock5.jpg');">
                    <div class="slide-content slide-content-right">
                        <h2>TRIO DE TRES</h2>
                        <p class="promotion-description">3 PIZZAS DE 3 INGREDIENTES A ESCOGER POR SOLO $299</p>
                        <div class="promotion-btns">
                            <a asp-controller="Producto" asp-action="Offers" asp-route-id="34" class="btn-red">Ordenar Ahora</a>
                        </div>
                    </div>
                </div>
                <!-- <img src="img/pizzastock3.jpg" alt=""> -->
            </div>
            <div class="slide">
                <div class="slide-img" style="background-image: url('../img/pizzastock7.jpg');">
                    <div class="slide-content">
                        <h2>DUO DE DOS</h2>
                        <p class="promotion-description">2 PIZZAS DE 2 INGREDIENTES A ESCOGER POR SOLO $199</p>
                        <div class="promotion-btns">
                            <a asp-controller="Producto" asp-action="Offers" asp-route-id="33">Ordenar Ahora</a>
                        </div>
                    </div>
                </div>
                <!-- <img src="img/pizzastock2.jpg" alt=""> -->
            </div>
            <div class="slide">
                <div class="slide-img" style="background-image: url('../img/pizzastock8.jpg');">
                    <div class="slide-content slide-content-right">
                        <h2>PIZZA RELLENA</h2>
                        <p class="promotion-description">PRUEBA NUESTRAS PIZZAS RELLENAS DESDE $149</p>
                        <div class="promotion-btns">
                            <a asp-controller="Producto" asp-action="Specials" asp-route-id="36" class="btn-red">Ordenar Ahora</a>
                        </div>
                    </div>
                </div>
                <!-- <img src="http://via.placeholder.com/1000x600" alt=""> -->
            </div>
            <div class="slide">
                <div class="slide-img" style="background-image: url('../img/pizzastock2.jpg');">
                    <div class="slide-content">
                        <h2>2 PIZZAS X $169</h2>
                        <p class="promotion-description">TODOS LOS DIAS</p>
                        <div class="promotion-btns">
                            <a asp-controller="Producto" asp-action="Offers" asp-route-id="35" class="btn-yellow">Ordenar Ahora</a>
                        </div>
                    </div>
                </div>
                <!-- <img src="http://via.placeholder.com/1000x600" alt=""> -->
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn manual-btn1"></label>
                <label for="radio2" class="manual-btn manual-btn2"></label>
                <label for="radio3" class="manual-btn manual-btn3"></label>
                <label for="radio4" class="manual-btn manual-btn4"></label>
            </div>
        </div>
    </div>
    <section class="recommended-section" >
        <div class="recommended wrap">
            <h2>PRUEBA NUESTRAS ESPECIALIDADES...</h2>
            <div class="products">
                @foreach (var pizza in Model.PizzasEspeciales)
                {
                    <div class="box">
                        <p class="product-title">@pizza.Nombre</p>
                        <img src="/Imagenes/GetImage?id=@pizza.ImagenID" alt="pizza" class="product-img">
                        <div class="details">
                            <p>@pizza.Descripcion</p>
                        </div>
                        <a asp-controller="Producto" asp-action="Specials" asp-route-id="@pizza.ID">Ordenar Ahora</a>
                    </div>
                }
            </div>
            <a asp-controller="Menu" asp-action="Specials">Ver Todas</a>
        </div>
    </section>
    @if (User.Identity.IsAuthenticated)
    {
        @if (Model.VuelveAOrdenar.Count != 0)
        {
            <section class="recommended-to-user">
                <div class="product-slider">
                    <h2>Vuelve a ordenar...</h2>
                    <ul class="autoWidth cs-hidden">
                        @foreach (var product in Model.VuelveAOrdenar)
                        {
                            <li class="item-a">
                                <div class="card-content">
                                    <img src="/Imagenes/GetImage?id=@product.ImagenID" alt="producto">
                                    <p class="card-title">@product.Nombre</p>
                                    <p class="card-description">@product.Descripcion</p>
                                    <span class="card-price">$@product.Precio</span>
                                    <a asp-controller="Producto" asp-action="@product.TipoAction" asp-route-id="@product.ID">Ordenar Ahora</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </section>
        }
        @if (Model.MasVendidas.Count != 0)
        {
            <section class="recommended-to-user recommended-black">
                <div class="product-slider">
                    <h2>LO MAS VENDIDO...</h2>
                    <ul class="autoWidth cs-hidden">
                        @foreach (var product in Model.MasVendidas)
                        {
                            <li class="item-a">
                                <div class="card-content">
                                    <img src="/Imagenes/GetImage?id=@product.ImagenID" alt="producto">
                                    <p class="card-title" title="@product.Nombre">@product.Nombre</p>
                                    <p class="card-description">@product.Descripcion</p>
                                    <span class="card-price">$@product.Precio</span>
                                    <a asp-controller="Producto" asp-action="@product.TipoAction" asp-route-id="@product.ID">Ordenar Ahora</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </section>
        }
}
  </main>


@section Scripts {

    <script>
        $('document').ready(function () {
            introJs(".slider").start();
            //$('.box').hover(function () {
            //    $(this).children('a,.details').show(300);
            //}, function () {
            //    $(this).children('a,.details').hide();
            //});
        });
        
    </script>

}
