﻿@inject Microsoft.AspNetCore.Identity.SignInManager<Usuario> signInManager
@{ 
    var user = await signInManager.UserManager.GetUserAsync(User);
    
}
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/mainstyles.css">
    <link rel="stylesheet" href="~/css/lightslider.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/lightslider.js"></script>
    <link rel="icon" href="~/img/logo2.png" type="image/png">
    @RenderSection("Styles", required: false)
    <title>Mutcha Pizza - @ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <div class="wrap">
                <div class="menu-items left-menu-items">
                    <a asp-controller="Menu" asp-action="Index">Menú</a>
                    <a asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                    <a asp-controller="Contactanos" asp-action="Index">Contáctanos</a>
                </div>
                <div class="menu-logo">
                    <img src="~/img/logo2.png" alt="Logo Mutcha Pizza">
                </div>
                <div class="menu-items right-menu-items">
                    <!-- <a href="#">Bolsa de Trabajo</a> -->
                    <a asp-controller="MiCuenta" asp-action="Index">@(User.Identity.IsAuthenticated ? "Hola, " + user.Nombres : "Mi Cuenta")</a>
                    <div class="shop-car-container">
                        <a asp-controller="Carrito" asp-action="Index" class="shop-car" title="Tus articulos agregados actualmente"><i class="fas fa-shopping-cart"></i> Carrito <i class="fas fa-chevron-down"></i></a>
                        <div class="car-popover-content">

                            <p class="car-popover-total">No hay elementos en el carrito</p>
                            @*<a href="#" class="car-btn-pay">Proceder a pagar</a>*@
                        </div>
                    </div>
                </div>
                <div class="menu-items menu-responsive-items">
                    <a asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                    <a asp-controller="Contactanos" asp-action="Index">Contactanos</a>
                    <a asp-controller="BolsaDeTrabajo" asp-action="Index">Bolsa de Trabajo</a>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <div class="responsive-footer">
        <a asp-controller="Menu" asp-action="Index"><i class="fas fa-utensils"></i></a>
        <a asp-controller="MiCuenta" asp-action="Login"><i class="fas fa-user-circle"></i></a>
        <a asp-controller="Carrito" asp-action="Index"><i class="fas fa-shopping-cart badge" data-count="0" id="mobileCart"></i></a>
    </div>
    <footer>
        <div class="wrap">
            <div class="footer-info">
                <p>Síguenos!</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/mpmutchapizza/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/MutchaPizzaMty" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/mutchapizza.mx/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- <img src="img/logo2.png" alt="logoMutchaPizza"> -->
            <button id="backToTop" title="Volver a arriba"><i class="fas fa-chevron-up"></i></button>
            <div class="footer-work">
                <p>¿Necesitas trabajo?</p>
                <a asp-controller="BolsaDeTrabajo" asp-action="Index">Bolsa de Trabajo</a>
            </div>
            <p class="final-footer">Mutcha Pizza - Derechos Reservados 2021</p>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/main-script.js"></script>
    <script src="~/js/cart-script.js"></script>
    <script src="~/js/main-slider.js"></script>
    <script src="~/js/custom-slider.js"></script>
    <script src="~/js/input-filter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.js"></script>
    <script>
        $(document).ready(function () {
            $(".autoWidth").lightSlider({
                autoWidth: true,
                slideMargin: 40,
                loop: false,
                pager: false,
                onSliderLoad: function () {
                    $('.autoWidth').removeClass('cs-hidden');
                }

            });
        });
        
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
