﻿
@{
    ViewData["Title"] = "Error";
}
@section Styles {

    <link href="~/css/error.css" rel="stylesheet" />
}

<main class="wrap">
    <div class="error-container">
        <h1>Error @(ViewBag.CodeError != null ? ViewBag.CodeError : "")</h1>
        <img src="~/img/error.svg" />
        @if (ViewBag.ErrorMessage == null)
        {
            <h2>Ha ocurrido un error al procesar tu solicitud.</h2>
        }
        else
        {
            <h2>@ViewBag.ErrorMessage</h2>
        }
    </div>
</main>


