﻿@model List<ArticuloVendidoTempModel>
@{
    ViewData["Title"] = "Carrito de Compras";
    float total = 0;
    bool mostrarOnboarding = Model.Count > 0 ? true : false; 
}

@section Styles {

    <link href="~/css/carritostyles.css" rel="stylesheet" />
}

<main class="wrap">
    <div class="steps">
        <div class="step active"><a asp-controller="Carrito" asp-action="Index"><i class="fas fa-shopping-cart"></i></a></div>
        <div class="step-bar"></div>
        <div class="step"><a asp-controller="Carrito" asp-action="Checkout"><i class="fas fa-cash-register"></i></a></div>
        <div class="step-bar"></div>
        <div class="step"><i class="fas fa-check"></i></div>
    </div>
    <div class="cart"  data-step="1" data-title="Carrito de Compras" data-position="top" data-scrollto="tooltip" data-intro='Aqui puedes ver todos los productos que has ido agregando mientras navegas por Mutcha Pizza'>
        <h1>Carrito</h1>
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="cart-item" data-cart-item-id="@item.ArticuloEnCarritoID">
                    <img src="/Imagenes/GetImage?id=@item.ImagenID" alt="item" />
                    <div class="cart-item-content">
                        <p class="cart-title"><a asp-controller="Producto" asp-action="@item.TipoDeArticulo" asp-route-id="@item.ArticuloVendidoID">@item.Nombre</a></p>
                        <p class="cart-quantity">Cantidad: x@(item.Cantidad)</p>
                        <p class="cart-base-price">Precio Unitario: $@(item.TipoDeArticulo != "Offers"?  item.Precio : item.Subtotal)</p>
                        @if (item.TipoDePan != null)
                        {
                            <p>Tipo De Pan: @item.TipoDePan</p>
                        }
                        @if (item.Ingredientes != null)
                        {
                            <h3>Ingredientes: </h3>
                            <ul class="toppings-included">
                                @foreach (var ingredient in item.Ingredientes)
                                {
                                    <li><img src="~/img/iconlistIngredientesWhite.png" /><span>@ingredient.Nombre</span></li>
                                }
                            </ul>
                        }
                        @if (item.IngredientesArticulosPromocion != null)
                        {
                            for (int i = 0; i < item.IngredientesArticulosPromocion.Count; i++)
                            {
                                <p>Tipo De Pan Pizza #@(i+1): @item.TipoDePanesArticulosPromocion[i]</p>
                                <h3>Ingredientes Pizza #@(i+1): </h3>
                                <ul class="toppings-included" style="margin-bottom: 20px;">
                                    @foreach (var ingredient in item.IngredientesArticulosPromocion[i])
                                    {
                                        <li><img src="~/img/iconlistIngredientesWhite.png" /><span>@ingredient.Nombre</span></li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                    <div class="cart-item-price">
                        <p class="cart-subtotal-price-label">Precio:</p>
                        <span>$@item.Subtotal</span>
                    </div>
                    <div class="cart-delete-item">
                        <button class="btn-delete-item" data-cart-item-id="@item.ArticuloEnCarritoID" ><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
                total += item.Subtotal;
            }
            <div class="cart-final-details">
                <p class="cart-total-price">
                    Total: $@total
                </p>
                <a asp-controller="Carrito" asp-action="@(User.Identity.IsAuthenticated ? "CheckoutUser" : "Checkout")" class="btn-checkout" data-step="2" data-title="Carrito de Compras" data-scrollto="tooltip" data-intro='Cuando estes satisfecho con los productos que elegiste puedes pulsar el boton proceder a pagar para llenar los datos de envio y el metodo de pago'>Proceder a pagar <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        }
        else
        {
            <h3>No tienes articulos agregados al carrito.</h3>
            <p><a asp-controller="Menu" asp-action="Index">Ver Menu</a></p>
            <img src="~/img/emptyCartRed.svg" />
        }
    </div>
</main>

@section Scripts {
    <script>
        @if (mostrarOnboarding && ViewBag.ShowOnboarding)
       {
           <text>
            introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();

            </text>
       }
            
        $('document').ready(function () {
                       deleteFromCart();
                       function deleteFromCart() {
                $('.btn-delete-item').click(function () {
                               var articuloEnCarritoID = $(this).attr('data-cart-item-id');

                               var url = '/Carrito/EliminarArticulo';
                               var data = { articuloID: articuloEnCarritoID };
                    $.post(url, data).done(function (data) {
                       getCartElements();
                        $('.cart-item[data-cart-item-id="' + articuloEnCarritoID + '"]').hide('slow', function () {
                            $(this).remove()

                        });

                        $('.cart-total-price').text('Total: $' + data.nuevoTotal);
               if (data.isEmpty) {
                            $('.cart-final-details').remove();
                   var titulo = $('<h3></h3>').text('No tienes articulos agregados al carrito.');
                   var imagen = $('<img>').attr('src', '/img/emptyCartRed.svg');
                   var menu = $('<p></p>').append($('<a></a>').attr('href', '/Menu/PizzasBasicas').text('Ver Menu'));
                            $('.cart').append(titulo, menu, imagen);
               }

           }).fail(function () {
               alert("No ha funcionado");
           }).always(function () {
               console.log("Esto se ejecuta siempre");
           })


                })

            }
        });
    </script>
}

