﻿@model CheckoutModel
@{
    ViewData["Title"] = "Confirmar direccion y elegir metodo de pago";
}

@section Styles {
    <link rel="stylesheet" href="~/css/loginstyles.css">
    <link href="~/css/carritostyles.css" rel="stylesheet" />
    <link href="~/css/checkoutstyles.css" rel="stylesheet" />
    <link href="~/css/jquery.geocomplete.min.css" rel="stylesheet" />
}


<main class="wrap">
    <div class="steps">
        <div class="step active"><a asp-controller="Carrito" asp-action="Index"><i class="fas fa-shopping-cart"></i></a></div>
        <div class="step-bar"></div>
        <div class="step active"><a asp-controller="Carrito" asp-action="Checkout"><i class="fas fa-cash-register"></i></a></div>
        <div class="step-bar"></div>
        <div class="step"><i class="fas fa-check"></i></div>
    </div>
    <form method="post" data-step="1" data-title="Ultimos detalles" data-scrollto="tooltip" data-intro='Rellena el formulario con los datos que se solicitan'>
        <div class="login-form">
            <h2>Detalles de Envio</h2>
            <div class="multi-input">
                <div class="first-input">
                    <label for="name">Nombre: </label>
                    <input type="text" placeholder="Ingresa tu nombre" id="name" asp-for="Nombre">
                    <span class="validation-message" asp-validation-for="Nombre"></span>
                </div>
                <div class="second-input">
                    <label for="lastName">Apellido: </label>
                    <input type="text" id="lastName" placeholder="Ingresa tu apellido" asp-for="Apellido">
                    <span class="validation-message" asp-validation-for="Apellido"></span>
                </div>
            </div>
            <label for="email">Correo Electronico:</label>
            <input type="email" id="email" placeholder="Ingresa tu correo electronico" asp-for="Email">
            <span class="validation-message" asp-validation-for="Email"></span>
            <label for="phone">Telefono:</label>
            <input type="text" id="phone" placeholder="Ingresa tu telefono" asp-for="Telefono">
            <span class="validation-message" asp-validation-for="Telefono"></span>
            <div id="myForm">
                <label for="street">Direccion (Calle, Numero, Colonia, Municipio): </label>
                <input type="text" id="street" placeholder="Ingresa una direccion" asp-for="Direccion" />
                <span class="validation-message" asp-validation-for="Direccion"></span>
                @*<div class="multi-input">
                        <div class="first-input">
                        </div>
                        <div class="second-input">
                            <label for="numberExt">Numero Exterior:</label>
                            <input type="text" id="numberExt" data-geocomplete="zip code" placeholder="Numero Exterior" />
                        </div>
                    </div>*@
                @*<div class="multi-input">
                        <div class="first-input">
                            <label for="city">Municipio: </label>
                            <input type="text" id="cityR" data-geocomplete="sublocality" placeholder="Municipio" />
                        </div>
                        <div class="second-input">
                            <label for="state">Estado: </label>
                            <input type="text" id="stateR" data-geocomplete="state" placeholder="Estado" />
                        </div>
                    </div>*@
            </div>
            <div class="multi-input">
                <div class="first-input">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" placeholder="Ingresa tu contraseña" asp-for="Password">
                    <span class="validation-message" asp-validation-for="Password"></span>
                </div>
                <div class="second-input">
                    <label for="confirmpassword">Confirmar contraseña:</label>
                    <input type="password" id="confirmpassword" placeholder="Ingresa de nuevo tu contraseña" asp-for="ConfirmPassword">
                    <span class="validation-message" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <p class="register-question">¿Ya tienes una cuenta?</p>
            <a asp-controller="MiCuenta" asp-action="Login" asp-route-returnUrl="/Carrito/Checkout" class="btn-register">Inicia sesión aqui</a>
        </div>
        <div class="checkout-details">
            <h2>Tu orden</h2>
            <div>
                <p class="order-label">Subtotal: <span>$@ViewBag.Subtotal</span></p>
                <p class="order-label">Envio: <span>$@ViewBag.Envio</span></p>
                <p class="order-label total">Total: <span>$@ViewBag.Total</span></p>
            </div>
            <div class="payment-methods" data-step="2" data-title="Metodo de pago" data-scrollto="tooltip" data-intro='Selecciona el tipo de pago'>
                <h3>Selecciona un metodo de pago:</h3>
                @*<div class="payment-method">
                        <input type="radio" name="name" value="" id="transfer" />
                        <label for="transfer">Transferencia <i class="fas fa-comment-dollar"></i></label>
                    </div>*@
                <div class="payment-method">
                    <input type="radio" name="MetodoDePago" value="Efectivo" id="cash" asp-for="MetodoDePago" />
                    <label for="cash">Efectivo <i class="far fa-money-bill-alt"></i></label>
                </div>
                <div class="payment-method">
                    <input type="radio" name="MetodoDePago" value="PayPal" id="paypal" asp-for="MetodoDePago" />
                    <label for="paypal">Pay Pal <i class="fab fa-cc-paypal"></i></label>
                    <span class="validation-message" asp-validation-for="MetodoDePago"></span>
                </div>
            </div>
            <button type="submit" class="btn-confirm" id="btnConfirmOrder" data-step="3" data-title="Finalizar Pedido" data-scrollto="tooltip" data-intro='Al pulsar el boton tu pedido sera enviado a una sucursal.'>Confirmar Pedido</button>
        </div>
    </form>
</main>

@section Scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAz1Wmq9g22Z0URKpFam0VFk1tY2SNoESE"></script>
    <script src="~/js/jquery.geocomplete.js"></script>
    @if (ViewBag.ShowOnboarding)
    {
        <script>
            introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();
        </script>
    }
    <script>
        //introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();
        $('document').ready(function () {
            $('#street').geocomplete({
                formId: "#myForm",
                componentRestrictions: { country: "mx" },
            });


            $('#phone').inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });


            $('#btnConfirmOrder').click(function () {
                //confirmOrder();
            });

            function confirmOrder() {
                var url = "/Carrito/Checkout";
                var nombre = $('#name').val();
                var apellido = $('#lastName').val();
                var email = $('#email').val();
                var telefono = $('#phone').val();
                var direccion = $('#street').val();
                var pass = $('#password').val();
                var confirmpass = $('#confirmpassword').val();
                var metodoDePago = $('input[name="payment"]:checked').val();


                var data = { Nombre: nombre, Apellido: apellido, Email: email, Telefono: telefono, Direccion: direccion, Password: pass, ConfirmPassword: confirmpass, MetodoDepago: metodoDePago };

                $.post(url, data).done(function (data) {
                    console.log("Funcione");
                }).fail(function () {
                    console.log("falle");
                })
            }
        });

    </script>
}