﻿@model OrderViewModel
@{
    ViewData["Title"] = "Orden Finalizada";
}
@section Styles {

    <link href="~/css/carritostyles.css" rel="stylesheet" />
    <link href="~/css/orderstyles.css" rel="stylesheet" />
}

<main class="wrap">
    <div class="steps">
        <div class="step active"><i class="fas fa-shopping-cart"></i></div>
        <div class="step-bar"></div>
        <div class="step active"><i class="fas fa-cash-register"></i></div>
        <div class="step-bar"></div>
        <div class="step active"><i class="fas fa-check"></i></div>
    </div>
    <div class="confirm-message">
        <h2>Tu orden ha sido recibida.</h2>
        <p>Gracias por comprar en Mutcha Pizza.</p>
        <div class="details">
            <div class="detail">
                <p class="detail-label">Numero de orden: </p>
                <p class="detail-text">@Model.CompraId</p>
            </div>
            <div class="detail">
                <p class="detail-label">Fecha: </p>
                <p class="detail-text">@Model.Fecha.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="detail">
                <p class="detail-label">Total: </p>
                <p class="detail-text">$@Model.Total</p>
            </div>
            <div class="detail">
                <p class="detail-label">Metodo de Pago: </p>
                <p class="detail-text">@Model.MetodoDePago</p>
            </div>
        </div>
        <h3>Detalles de Envio</h3>
        <div class="details">
            <div class="detail">
                <p class="detail-label">Direccion: </p>
                <p class="detail-text">@Model.Direccion</p>
            </div>
            <div class="detail">
                <p class="detail-label">Costo de Envio: </p>
                <p class="detail-text">$@Model.CostoEnvio</p>
            </div>
        </div>
        <h3>Detalles de la orden.</h3>
        <div class="cart">
            @foreach (var item in Model.Articulos)
            {
                <div class="cart-item" data-cart-item-id="@item.ArticuloEnCarritoID">
                    <div class="cart-item-content">
                        <p class="cart-title">@item.Nombre</p>
                        <p class="cart-quantity">Cantidad: x@(item.Cantidad)</p>
                        <p class="cart-base-price">Precio Unitario: $@(item.TipoDeArticulo != "Offers" ? item.Precio : item.Subtotal)</p>
                        @if (item.TipoDePan != null)
                        {
                            <p>Tipo De Pan: @item.TipoDePan</p>
                        }
                        @if (item.Ingredientes != null)
                        {
                            <h3>Ingredientes: </h3>
                            <ul class="toppings-included">
                                @foreach (var ingredient in item.Ingredientes)
                                {
                                    <li><img src="~/img/iconlistIngredientesWhite.png" /><span>@ingredient.Nombre</span></li>
                                }
                            </ul>
                        }
                        @if (item.IngredientesArticulosPromocion != null)
                        {
                            for (int i = 0; i < item.IngredientesArticulosPromocion.Count; i++)
                            {
                                <p>Tipo De Pan Pizza #@(i + 1): @item.TipoDePanesArticulosPromocion[i]</p>
                                <h3>Ingredientes Pizza #@(i + 1): </h3>
                                <ul class="toppings-included" style="margin-bottom: 20px;">
                                    @foreach (var ingredient in item.IngredientesArticulosPromocion[i])
                                    {
                                        <li><img src="~/img/iconlistIngredientesWhite.png" /><span>@ingredient.Nombre</span></li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                    <div class="cart-item-price">
                        <p class="cart-subtotal-price-label">Precio:</p>
                        <span>$@item.Subtotal</span>
                    </div>
                </div>
            }
            <div class="cart-final-details">
                <p class="cart-total-price">
                    Total: $@Model.Total
                </p>
            </div>
        </div>

    </div>
</main>
