﻿@section Styles {
    <link rel="stylesheet" href="~/css/sucursalesstyles.css">
} 

@{
    ViewData["Title"] = "Sucursales";
}

<main>
    <section class="selector wrap">
        <div class="direction-section">
            <form action="" class="form-direction">
                <h2>Encuentra tu sucursal!</h2>
                <!-- <input type="text" class="input-direction">
                <span class="floating-label">Ingresa tu direccion: </span> -->
                <label for="municipio-filter">Selecciona un municipio: </label>
                <select name="" id="municipio-filter">
                    <option value="loc-monterrey">Monterrey</option>
                    <option value="loc-apodaca">Apodaca</option>
                    <option value="loc-guadalupe">Guadalupe</option>
                    <option value="loc-sannicolas">San Nicolás</option>
                    <option value="loc-escobedo">Escobedo</option>
                    <option value="loc-garcia">Garcia</option>
                    <option value="loc-salinasvictoria">Salinas Victoria</option>
                    <option value="loc-juarez">Juárez</option>
                    <option value="loc-zuazua">Zuazua</option>
                </select>
            </form>
        </div>
    </section>
    <h1>Monterrey</h1>
    <section class="all-stores wrap">
        <div class="sucursal loc-monterrey">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Lincoln</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Av Lincoln # 5252 Local 7e (HEB Lincoln)

                    Col. Ampliación San Jorge

                    Monterrey, Nuevo León. C.P. 64330
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8181105363" class="phone"><i class="fas fa-phone-alt"></i> 81-81-10-53-63</a>
                    <a href="tel:8181105557" class="phone"><i class="fas fa-phone-alt"></i> 81-81-10-55-57</a>
                </div>
            </div>
            <div class="map-location">
                <iframe class="mapa1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4274.491160169435!2d-100.36744646698631!3d25.724140464299115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x420506f94a86da50!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618042205923!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-monterrey">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Solidaridad</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Cabezada # 3 Local 3 y 4 (Esquina con Nitrogeno)

                    Col. Barrio Acero, Monterrey, Nuevo León. C.P. 64102
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8183062666" class="phone"><i class="fas fa-phone-alt"></i> 81-83-06-26-66</a>
                    <a href="tel:8183062323" class="phone"><i class="fas fa-phone-alt"></i> 81-83-06-23-23</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.736147481745!2d-100.38992758446074!3d25.779277283628776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866291244430ed43%3A0xf1297ec622200284!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618092950038!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-monterrey">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal La Rioja</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Antiguo Camino a Santiago 1038, Entre Palacio Municipal y Congreso.

                    Col. Nueva Estanzuela, Monterrey, Nuevo León. C.P. 64988
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8110936608" class="phone"><i class="fas fa-phone-alt"></i> 81-10-93-66-08</a>
                    <a href="tel:8113583399" class="phone"><i class="fas fa-phone-alt"></i> 81-13-58-33-99</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.7797504300256!2d-100.2420904435173!3d25.57899341275858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c76382254a8d%3A0x3356a1f0bdc2b7b0!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618094293334!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-guadalupe">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Linda Vista</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Plaza Magnolia
                    Av. Miguel Alemán, Prolongación Madero 4425, Local 9
                    Colonia Linda Vista, C.P. 67123. Guadalupe, N.L.
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8183773060" class="phone"><i class="fas fa-phone-alt"></i> 81-83-77-30-60</a>
                    <a href="tel:8183773050" class="phone"><i class="fas fa-phone-alt"></i> 81-83-77-30-50</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.450751149294!2d-100.25981288446219!3d25.689495883669576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662eb32e13827f9%3A0x52467a60ed529efd!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618095590955!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-guadalupe">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Soriana La Pastora</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Avenida Eloy Cavazos #2000, Local #10

                    Col Contry Sol 6to Sector, C.P. 67140

                    Guadalupe, Nuevo León
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8183177073" class="phone"><i class="fas fa-phone-alt"></i> 81-83-17-70-73</a>
                    <a href="tel:8183173961" class="phone"><i class="fas fa-phone-alt"></i> 81-83-17-39-61</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.2787421165826!2d-100.26220348446263!3d25.662053083682057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bf8d9dca3e67%3A0x848bf0c29f9b1636!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618095620505!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-guadalupe">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Pablo Livas</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Avenida Pablo Livas 7701-L12, Roble Santa María, 67190 Guadalupe, N.L.
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8181105363" class="phone"><i class="fas fa-phone-alt"></i> 81-81-10-53-63</a>
                    <a href="tel:8183931313" class="phone"><i class="fas fa-phone-alt"></i> 81-83-93-13-13</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.2787421165826!2d-100.26220348446263!3d25.662053083682057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bf8d9dca3e67%3A0x848bf0c29f9b1636!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618095620505!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-sannicolas">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Diego Diaz de Berlanga</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Fracc. Jardines de Anahuac, SECT. 2
                    San Nicolás de los Garza Nuevo León,
                    C.P. 66463
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8183831212" class="phone"><i class="fas fa-phone-alt"></i> 81-83-83-12-12</a>
                    <a href="tel:8183834119" class="phone"><i class="fas fa-phone-alt"></i> 81-83-83-41-19</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.16789802199!2d-100.27505278446148!3d25.731960683650197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866294da3f1b6fff%3A0x41f662b4c7a7ff80!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618095923643!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-escobedo">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Escobedo</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Raúl Salinas 800, Paseo Real 1er. Sector

                    Escobedo

                    Nuevo León
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8183072520" class="phone"><i class="fas fa-phone-alt"></i> 81-83-07-25-20</a>
                    <a href="tel:8183072543" class="phone"><i class="fas fa-phone-alt"></i> 81-83-07-25-43</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.3012382286165!2d-100.33673598446055!3d25.793634183622228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662938886a49693%3A0x698cf423aaec8d3c!2sMutcha%20Pizza%20Escobedo!5e0!3m2!1ses!2smx!4v1618096134801!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-salinasvictoria">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Salinas Victoria</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección: </b>

                    Carretera Monterrey-Salinas Victoria Local 5001-L01 Col. Bosques de los Nogales, Salinas Victoria, N.L.

                    En la Plaza Nia, Los Nogales.
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8111599199" class="phone"><i class="fas fa-phone-alt"></i> 81-11-59-91-99</a>
                    <a href="tel:8111599198" class="phone"><i class="fas fa-phone-alt"></i> 81-11-59-91-98</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.3293919576!2d-100.26328138445894!3d25.89154008357798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86628de879d75765%3A0xa126dd8761d2363e!2sMutcha%20pizza!5e0!3m2!1ses!2smx!4v1618096927734!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-apodaca">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Soriana Huinala</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Av. Telefonos #1300 L-3

                    Col. Hacienda San Andres,

                    Apodaca, N.L. C.P. 66340
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8111589933" class="phone"><i class="fas fa-phone-alt"></i> 81-11-58-99-33</a>
                    <a href="tel:8182431980" class="phone"><i class="fas fa-phone-alt"></i> 81-82-43-19-80</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.8230551865!2d-100.1777602844613!3d25.743364483645216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662ebb38817a0c1%3A0x70c18e4594d3dab!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618096411032!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-apodaca">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Soriana Santa Rosa</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Carr. al Mezquital – Santa Rosa #7591

                    Col. Villas de Santa Rosa

                    Apodaca Nuevo León
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8181485187" class="phone"><i class="fas fa-phone-alt"></i> 81-81-48-51-87</a>
                    <a href="tel:8181485008" class="phone"><i class="fas fa-phone-alt"></i> 81-81-48-50-08</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3591.9384500710994!2d-100.22481748446032!3d25.80560458361692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662ecf16c46c6ad%3A0xe9ecbe1a915c5a10!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618097057630!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-apodaca">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Metroplex</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección: </b>

                    Av. Concordia #1300
                    Col. Hacienda Santa Isabel,
                    Apodaca, Nuevo León. C.P. 66612
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8183029887" class="phone"><i class="fas fa-phone-alt"></i> 81-83-02-98-87</a>
                    <a href="tel:8183029872" class="phone"><i class="fas fa-phone-alt"></i> 81-83-02-98-72</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14369.413147101488!2d-100.24809631070615!3d25.79191638796759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19b50ef8f1a3a5ff!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618097909718!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-juarez">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Ciudadela</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Av. Lic. Arturo B. de la Garza 101 Local 12E

                    Col. El Mirador, Benito Juarez

                    Nuevo León. C.P.: 67266
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8182332270" class="phone"><i class="fas fa-phone-alt"></i> 81-82-33-22-70</a>
                    <a href="tel:8182332271" class="phone"><i class="fas fa-phone-alt"></i> 81-82-33-22-71</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.9008754046135!2d-100.08971928446302!3d25.64141518369161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c32905e9cab1%3A0xe3c62bafc6df1bfe!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618097425944!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-juarez">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Pizza Móvil</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección: </b>

                    San Antonio 251

                    Col. San Francisco, Juárez, Nuevo León. C.P. 67280

                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8181270758" class="phone"><i class="fas fa-phone-alt"></i> 81-81-27-07-58</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.9008754046135!2d-100.08971928446302!3d25.64141518369161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c32905e9cab1%3A0xe3c62bafc6df1bfe!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618097425944!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-zuazua">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal Zuazua</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Carretera A Zuazua 131

                    Col. Real De Palmas

                    Local 7-E En Mi Tienda Del Ahorro

                    Zuazua Nuevo León
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:018251070055" class="phone"><i class="fas fa-phone-alt"></i> 01-82-51-07-00-55</a>
                    <a href="tel:018251070055" class="phone"><i class="fas fa-phone-alt"></i> 01-82-51-07-00-55</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3588.869080468793!2d-100.1616041844587!3d25.90667398357112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662f18fc4dbb987%3A0x18c243dba236fb0c!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618097955285!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="sucursal loc-garcia">
            <p class="title-sucursal"><i class="fas fa-store sucursal-icon"></i> Sucursal García</p>
            <div class="sucursal-description">
                <p>
                    <b><i class="fas fa-map-marker-alt"></i> Dirección:</b>

                    Av. Sor Juana Ines de la Cruz 200, Loc. 11 y 12

                    Col: Villa de Los Nogales

                    Garcia, Nuevo León, C.P. 66000
                </p>
                <p><b>Telefonos: </b></p>
                <div class="sucursal-tels">
                    <a href="tel:8182832050" class="phone"><i class="fas fa-phone-alt"></i> 81-82-83-20-50</a>
                    <a href="tel:8114220967" class="phone"><i class="fas fa-phone-alt"></i> 81-14-22-09-67</a>
                </div>
            </div>
            <div class="map-location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.228941020503!2d-100.59684188446042!3d25.7960200836211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629d0a8895026b%3A0x5c2990b3dae228d1!2sMutcha%20Pizza!5e0!3m2!1ses!2smx!4v1618100251448!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script src="~/js/sucursales-filter.js"></script>
}