﻿body {
    color: #1d1d1d;
}

header {
    margin-bottom:40px;
}

h1 {
    margin-bottom: 20px;
    /*color: #f5cc1c;*/
    font-size: 40px;
}

main > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main div form.user-options {
    align-self: flex-start;
    margin-right: 10px;
    /*border: 0;
    border-top: 5px solid #f5cc1c;*/
}

main div form.user-options button {
    padding: 15px;
    background: #ef3c31;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    border: none;
    border-radius: 10px;
    width: 60%;
    display: block;
    transition: all ease .3s;
    margin: 0 auto;
}

main form {
    width: 35%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #f5cc1c;
}

main form h2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}

main form h2 i {
    font-size: 100px;
    /*margin-right: 5px;*/
    text-align: center;
    color: #ddd;
}

main form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 700;
}

main form .names-section {
    display: flex;
    justify-content: space-between;
}

main form .names-section > div {
    width: 48%;
}

main form input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-sizing:border-box;
    border: 1px solid #ddd;
    /*margin-bottom: 20px;*/
}

main form input:focus {
    border: 1px solid #f5cc1c;
}

main form button.btn-address {
    padding: 15px;
    background: #ef3c31;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    font-weight: 900;
    font-style: italic;
    transition: all ease .3s;
    margin-bottom: 20px;
}


main form hr {
    border: 0;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

main form button.btn-update {
    padding: 20px;
    width: 50%;
    display: block;
    background: #ef3c31;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
    font-style: italic;
    font-size: 17px;
    font-weight: 900;
    color: #fff;
    transition: all ease .3s;
}

main div form button:hover {
    cursor: pointer;
    background: #f5cc1c;
    color: #1d1d1d;
}

span.validation-message span {
    color: #ef3c31;
    text-align: left;
    display:block;
    font-size: 14px;
    font-weight: 900;
    margin-top: 10px;
}


@media screen and (max-width: 1140px) {
    main form {
        width: 100%;
    }
    main div form.user-options {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    main form button.btn-update {
        font-size: 14px;
        width: 80%;
    }
}
