﻿main {
    display: block;
}
header {
    margin-bottom: 40px;
}

.steps {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps .step {
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 50%;
    border: 3px solid #ef3c31;
    font-size: 20px;
    background: none;
    color: #ef3c31;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background ease .3s;
}


.steps .step a {
    color: #ef3c31;
}


.steps .step.active {
    background: #ef3c31;
    color: #fff;
|}

.steps .step.active:hover {
    background: #f5cc1c;
    border: 3px solid transparent;
}

.steps .step.active a{
    color: #fff;
}



.steps div span {
    width: 100%;
    display: block;
    text-align: center;
}

.steps .step-bar {
    width: 200px;
    height: 5px;
    background: #f5cc1c;
} 

.cart {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.cart h1 {
    margin-bottom: 10px;
    font-size: 40px;
    color: #ef3c31;
    /*text-transform: uppercase;*/
    font-weight: 900;
    font-style: italic;
}

.cart > .cart-empty-btns {
    display: flex;
    justify-content: flex-end;
}

.cart > .cart-empty-btns button {
    border: none;
    padding: 20px 0;
    background: none;
    color: #f5cc1c;
    font-size: 18px;
    font-weight: 800;
}

.cart > img {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.cart > h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.cart > p {
    text-align: center;
    margin-bottom: 15px;
}

.cart > p a {
    font-size: 22px;
    text-decoration: none;
    color: #f5cc1c;
    font-weight: 800;
}

.cart > p a:hover {
    text-decoration: underline;
}

.cart .cart-item {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    /*padding: 15px 0;*/
}

.cart .cart-final-details{
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
}

.cart .cart-final-details .cart-total-price {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}

.cart .cart-final-details .btn-checkout {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #1d1d1d;
    background: #f5cc1c;
    padding: 20px;
    font-weight: 900;
    border-radius: 10px;
    font-style: italic;
    transition: all ease .3s;
    width: 20%;
    text-align: center;
}

.cart .cart-final-details .btn-checkout:hover {
    color: #fff;
    background: #ef3c31;
}

.cart .cart-item > img {
    width: 20%;
    padding: 15px;
    align-self: flex-start;
    box-sizing: border-box;
}

.cart .cart-item .cart-item-content {
    width: 40%;
    box-sizing: border-box;
    /*padding: 0 15px;*/
    padding: 15px;
}

.cart .cart-item .cart-item-content p{
    margin-bottom: 20px;
}

.cart .cart-item .cart-item-content h3 {
    margin-bottom: 10px;
    font-weight: 900;
    font-style: italic;
}

.cart .cart-item .cart-item-content .cart-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
}

.cart .cart-item .cart-item-content .cart-title a {
    text-decoration: none;
    color: inherit;
}

.cart .cart-item .cart-item-content .cart-title a:hover {
    text-decoration: underline;
}

.cart .cart-item .cart-item-price {
    width: 25%;
    /*border-left: 2px solid #ddd;*/
    /*padding: 0 15px;*/
    padding: 15px;
    box-sizing: border-box;
}

.cart .cart-item .cart-subtotal-price-label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    font-weight: 900;
    font-style: italic;
}

.cart .cart-item .cart-item-price span {
    font-size: 30px;
    display: block;
    width: 100%;
    /*text-align: center;*/
}

.cart .cart-item .cart-delete-item {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    /*align-items: flex-start;*/
    /*align-items: center;*/
    box-sizing: border-box;
    /*border-left: 2px solid #ddd;*/
}

.cart .cart-item .cart-delete-item button {
    opacity: 0.9;
    padding: 20px;
    background: #f5cc1c;
    /*border-radius: 50%;*/
    font-weight: 900;
    color: #1d1d1d;
    font-size: 20px;
    border: none;
    transition: all ease .3s;
}

.cart .cart-item .cart-delete-item button:hover{
    cursor: pointer;
    background: #ef3c31;
    color: #fff;
    opacity: 1.0;
}

.toppings-included {
list-style: none;
display: flex;
flex-flow: row wrap;
/*justify-content: space-around;*/
}

.toppings-included li {
padding: 2px 10px;
box-sizing: border-box;
background: #ef3c31;
border-radius: 20px;
align-self: flex-start;
display: flex;
margin-right: 3px;
margin-bottom: 5px;
}

.toppings-included li img {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    /*margin-right: 5px;*/
    border: none;
    border-radius: 0;
}

.toppings-included li span {
    position: relative;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    left: 2px;
}

@media screen and (max-width: 1140px) {
    .cart h1 {
        font-size: 30px;
    }
    .cart > h3 {
        font-size: 25px;
    }

    .steps {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .steps .step {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }

    .cart .cart-item > img {
        width: 40%;
    }

    .cart .cart-item .cart-item-content {
        width: 60%;
    }

    .cart .cart-item .cart-item-price {
        padding: 15px;
        border-top: 1px solid #ddd;
        width: 75%;
    }

    .cart .cart-item .cart-delete-item {
        width: 25%;
    }

    .cart .cart-final-details .btn-checkout{
        width: 50%;
    }

    .cart .cart-item .cart-item-content .cart-title {
        font-size: 16px;
    }

    .cart .cart-item .cart-item-content p {
        font-size: 14px;
    }

    .cart .cart-item .cart-item-content h3 {
        font-size: 14px;
    }

    .cart .cart-item .cart-delete-item button {
        width: 100%;
    }
}