﻿form {
    width: 100%;
    display: flex;
}


form .login-form span.validation-message span, form div.checkout-details span.validation-message {
    color: #ef3c31;
    text-align: left;
    padding: 12px;
    font-weight: 900;
}



    div.login-form {
        /*background: none;
    box-shadow: none;*/
        border: none;
        width: 70%;
        border-top-right-radius: 0px;
    }

div.login-form h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    font-style: italic;
}

.checkout-details {
    width: 30%;
    /*margin-left: 1%;*/
    background: #f5cc1c;
    /*min-height: 500px;*/
    align-self: flex-start;
    padding: 20px;
    color: #1d1d1d;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /*border-left: 2px solid #eee;*/
}

.checkout-details h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
    color: #ef3c31;
    width: 100%;
    font-style: italic;
    border-bottom: 2px solid #ef3c31;
    padding-bottom: 15px;
    text-align: center;
}

.order-label {
    display: flex;
    /*color: #fff;*/
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 10px 30px;
    /*padding-bottom: 15px;*/
    /*border-bottom: 0.1px solid #1d1d1d;*/
    font-weight: 300;
    font-style: italic;
}

.order-label.total {
    border-top: 1px solid #1d1d1d;
    font-weight: 900;
}

.payment-methods {
    margin-bottom: 30px;
}

.payment-methods input[type="radio"] {
    display: none;
}

.payment-methods h3 {
    margin-bottom: 15px;
}

.payment-methods label {
    display: block;
    text-align: center;
    color: #ef3c31;
    padding: 10px 15px;
    opacity: 0.7;
    margin-bottom: 10px;
    border: 1px solid #ef3c31;
    font-weight: 900;
    border-radius: 20px;
    transition: all ease .2s;
}

.payment-methods label:hover {
    cursor: pointer;
}

#transfer:checked ~ label {
    background: #ef3c31;
    border: 1px solid transparent;
    opacity: 1.0;
    /*border-radius: 20px;*/
    color: #fff;
}

#cash:checked ~ label {
    background: #ef3c31;
    border: 1px solid transparent;
    opacity: 1.0;
    /*border-radius: 20px;*/
    color: #fff;
}

#paypal:checked ~ label {
    background: #ef3c31;
    border: 1px solid transparent;
    opacity: 1.0;
    /*border-radius: 20px;*/
    color: #fff;
}


.btn-confirm {
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    border: none;
    border-radius: 10px;
    background: #ef3c31;
}
.btn-confirm:hover {
    cursor: pointer;
}

@media screen and (max-width: 1140px) {
    form {
        flex-flow: row wrap;
    }

    div.login-form {
        width: 100%;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .checkout-details {
        width: 100%;
    }

    .checkout-details {
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .order-label {
        font-size: 18px;
    }
}