.job-information p {
    margin-bottom: 15px;
}

.mail-link {
    display: inline-block;
    text-decoration: none;
    background: #f5cc1c;
    color: #1d1d1d;
    width: 40%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 800;
}

.copy-to {
    padding: 20px;
    border: none;
    background: #ddd;
    border-radius: 10px;
    transition: background ease .3s;
}

.copy-to:hover {
    cursor: pointer;
    background: #a0a0a0;
}

@media screen and (max-width: 1140px) {
    .mail-link {
        width: 60%;
        padding: 10px;
        font-size: 10px;
    }

    .copy-to {
        padding: 10px;
    }
}