﻿header {
    margin-bottom: 30px;
}

.error-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.error-container h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.error-container img {
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.error-container h2 {
    text-align: center;
}