header {
    margin-bottom: 30px;
}

body {
    background: #eee;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.job-information {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 20px;
}

.job-information h1 {
    font-size: 45px;
    color: #ef3c31;
    /* text-align: center; */
    font-weight: 900;
    margin-bottom: 20px;
}

.job-information img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    display: block;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    /* width: 100%; */
}

.job-information h2 {
    color: #f5cc1c;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 10px;
}

.job-information p {
    font-size: 22px;
    color: #1d1d1d;
    font-weight: 700;
}

.job-information ul {
    list-style-position: inside;
    color: #ef3c31;
    font-weight: 700;
    font-size: 18px;
}

main form {
    width: 40%;
    padding: 20px;
    background: #ef3c31;
    border-radius: 10px;
    border-top: 5px solid #f5cc1c;
    /* max-height: 400px; */
}



main form span.validation-message span {
    padding: 15px;
    color: #fff;
}

main form h2 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
}

main form label{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}

main form input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    border: 5px solid transparent;
}

main form input:focus {
    border: 5px solid #f5cc1c;
}

main form select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

main form textarea {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 12px;
    box-sizing: border-box;
    min-height: 150px;
    border-radius: 10px;
    border: 5px solid transparent;
    resize: none
}

main form textarea:focus {
    border: 5px solid #f5cc1c;
}

main form button {
    display: block;
    width: 33%;
    margin: 0 auto;
    padding: 15px;
    background: #f5cc1c;
    color: #1d1d1d;
    border: none;
    font-weight: 900;
    /* font-size: 18px; */
    font-style: italic;
    margin-top: 20px;
    border-radius: 10px;
}

main form button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1140px) {
    .job-information {
        width: 100%;
    }
    main form {
        width: 100%;
    }

    main form label {
        font-size: 14px;
    }

    main form h2 {
        font-size: 25px;
    }

    .job-information h1 {
        font-size: 30px;
    }

    .job-information h2 {
        font-size: 25px;
    }

    .job-information img {
        /*height: 100px;*/
    }

    .job-information p {
        font-size: 16px;
    }

    main form button {
        width: 50%;
    }

    main form input {
        font-size: 12px;
    }
}