header {
    margin-bottom: 40px;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;

}

main img {
    height: 600px;
    width: 50%;
}
.login-form form span.validation-message span, form.login-form span.validation-message span {
    color: #ef3c31;
    text-align: left;
    padding: 12px;
    font-weight: 900;
}

.login-form {
    background: #fff;
    width: 35%;
    box-shadow: -1px 22px 37px -20px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    border-top: 5px solid #f5cc1c;
    /* display: flex;
    flex-flow: row wrap; */
}

.login-form.register-form {
    width: 50%;
}

.login-form .btn-facebook {
    background-color: #3b5998;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    /* box-sizing: border-box; */
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-form span {
    display: block;
    text-align: center;
    font-weight: 900;
    color: #1d1d1d;
    /*opacity: 0.7;*/
    font-size: 14px;
    /* position: relative;
    top: 10px; */
    margin-bottom: 10px;
}

.login-form hr {
    border-radius: 10px;
    border: 0;
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #ddd;
    /* color: #ddd; */
    margin-bottom: 15px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
    color: #ef3c31;
    width: 100%;
    text-align: center;
}

.login-form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.login-form input {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    /*margin-bottom: 20px;*/
}

.login-form input:focus {
    border: 1px solid #f5cc1c;
}

.login-form button {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    display: block;
    background: #f5cc1c;
    /* font-weight: 700; */
    /* font-style: italic; */
    font-size: 17px;
    margin: 0 auto;
    transition: all ease .3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-form button:hover {
    cursor: pointer;
    background: #ef3c31;
    color: #fff;
}

.login-form .register-question {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
}

.login-form .btn-register {
    color: #f5cc1c;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
}

.login-form .btn-register:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-form .first-input {
    width: 48%;
    margin-right: 10px;
}

.login-form .second-input {
    width: 48%;
}

.login-form .multi-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.validation-summary-errors ul li{
    list-style: none;
    text-align: center;
    color: #ef3c31;
    font-weight: 900;
}

@media screen and (max-width: 1140px) {
    .login-form {
        width: 100%;
    }

    .login-form input {
        padding: 15px;
    }

    .login-form input:placeholder {
        font-size: 14px;
    }
    
    .login-form.register-form {
        width: 100%;
    }

    .login-form h2 {
        font-size: 30px;
    }

    .login-form label {
        font-size: 14px;
    }

    .login-form button {
        font-size: 14px;
    }

    .login-form .first-input{
        width: 100%;
        margin-right: 0%;
    }

    .login-form .second-input {
        width: 100%;
    }

    .login-form .multi-input {
        flex-flow: row wrap;
    }
}