﻿.confirm-message {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.confirm-message h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 20px;
}

.confirm-message > p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.confirm-message .address {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.details {
    display: flex;
    width: 100%;
}

.detail {
    display: flex;
    padding: 20px;
    flex: 1;
    flex-direction: column;
    width: auto;
    border: 1px solid #ddd;
}

.detail:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.detail:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.detail p.detail-label {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
}

.detail p.detail-text {
    font-size: 20px;
    font-weight: 700;
}

.confirm-message > h3 {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ef3c31;
    font-style: italic;
}

.cart {
    padding: 0px;
}

.cart .cart-item {
    margin-bottom: 0px;
    justify-content: space-between;
}


.cart .cart-item .cart-item-content .cart-title {
    font-size: 16px;
}

/*.cart .cart-item .cart-item-content {
    width: 50%;
}*/

.cart .cart-item .cart-item-price {
    width: auto;
}

.cart .cart-item .cart-subtotal-price-labe {
    font-size: 18px;
}

.cart .cart-item .cart-item-price span {
    font-size: 20px;
    text-align: right;
}

@media screen and (max-width: 1140px) {
    .detail {
        padding: 12px;
    }

    .detail p.detail-label {
        font-size: 8px;
    }

    .detail p.detail-text {
        font-size: 12px;

    }

    .confirm-message h2 {
        font-size: 30px;
    }
}