.wrap {
    width: 60%;
}

header {
    margin-bottom: 30px;
}

main > h1 {
    font-size: 40px;
    color: #f5cc1c;
    width: 100%;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    background: #ef3c31;
    padding: 10px;
    padding-bottom: 0px;
    width: 70%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    /* margin-bottom: 15px; */
    box-sizing: border-box;
    box-shadow: -1px 22px 37px -20px rgba(0,0,0,0.1);
}

.product.first {
    border-top-left-radius: 0px;
}

.product img {
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 10px;
    align-self: flex-start; 
    padding: 12px;
    /*height: 250px;*/
    margin-right: 20px;
}

.product .product-content {
    display: flex;
    width: 65%;
    flex-flow: row wrap;
    justify-content: space-around;
}

.product .product-content.generic-product {
    justify-content: flex-start;
    align-self: flex-start
}
.product .product-content.generic-product h2 {
   margin-bottom: 20px;
}

.product .product-content h2 {
    color: #ef3c31;
    font-weight: 900;
    width: 100%;
    font-style: italic;
    font-size: 45px;
}

.product .product-content p {
    font-size: 22px;
    width: 100%;
    font-weight: 300;
    margin-bottom: 20px;
}

/*.product .product-content.generic-product p{
    margin-bottom: 0px;
}*/

.selections {
    width: 40%;
    padding-right: 5%;
    border-right: 2px solid #ddd;
    /* margin-right: 5%; */
}

.validation-message {
    color:#ef3c31;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
    /*font-weight: 900;*/
}

.confirm-order {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* height: 40%; */
}

/*.confirm-order.generic-product {
    justify-content: center;
}*/


.confirm-order .quantity {
    display: flex;
    margin-bottom: 10px;
}

.confirm-order input.quantity-input {
    width: 20%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    /*margin-bottom: 10px;*/
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.confirm-order button.btn-quantity {
    padding: 10px;
    color: #fff;
    background: #ef3c31;
    /*font-size: 18px;*/
    border-radius: 10px;
    font-weight: 900;
    border: 1px solid transparent;
    transition: all ease .3s;
}
.confirm-order button.btn-quantity:hover {
    cursor: pointer;
    background: #9e150d;
}

.confirm-order button.btn-quantity.btn-quantity-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.confirm-order button.btn-quantity.btn-quantity-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


.confirm-order h3 {
    font-size: 40px;
    text-align: center;
}

.confirm-order button.add-to-cart {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #1d1d1d;
    background-color: #f5cc1c;
    transition: all ease .3s;
}

.confirm-order button.add-to-cart:hover {
    background: #ef3c31;
    color: #fff;
    cursor: pointer;
}

.selection {
    margin-bottom: 20px;
}




.radio-option label {
    color: #ef3c31;
    font-weight: 900;
    font-style: italic;
    margin-left: 5px;
}

.radio-option label:hover {
    cursor: pointer;
}

.product label.complement-label {
    /* width: 100%; */
    display: block;
    font-size: 20px;
    font-weight: 900;
    color: #1d1d1d;
    font-style: italic;
    margin-bottom: 5px;
}


.toppings-filter {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.toppings-filter button {
    width: 100%;
    padding: 15px;
    background: #ef3c31;
    border:none;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    transition: all ease .2s;
    /* margin-bottom: 5px; */
}

.toppings-filter button.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.toppings-filter button:hover {
    cursor: pointer;
    background: #9e150d;
}

.toppings-filter .acord-cont{
    max-height: 0;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ef3c31 #ddd;
    /* scrollbar */
    /* scrollbar-base-color: #ef3c31; */
    transition: all ease .2s;
    margin-bottom: 10px;
}

.toppings-filter .acord-cont.active {
    border: 3px solid #ef3c31;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 15px;
    max-height: 150px;
    overflow-y: scroll;
}


.toppings-filter .acord-cont .topping-check {
    margin-bottom: 10px;
}

.toppings-filter .acord-cont .topping-check input {
    margin-right: 5px;
}

.toppings-filter .acord-cont .topping-check label {
    font-weight: 900;
    color: #ef3c31;
    font-style: italic;
}

.toppings-filter .acord-cont .topping-check label:hover {
    cursor: pointer;
}

.product-slider {
    width: 100%;
    margin-top: 20px;
}

.product-slider h2 {
    /*padding: 0 20px;*/
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    color: #1d1d1d;
    font-size: 30px;
}

.product-slide-btns {
    width: 100%;
}

@media screen and (max-width: 1706px) {
    .wrap {
        width: 80%;
    }
}

@media screen and (max-width: 1140px) {
    header {
        margin-bottom: 10px;
    }

    .wrap {
        width: 90%;
    }
    .product {
        flex-flow: column nowrap;
        align-items: center;
    }

    .product img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 0px;
        box-sizing: border-box;
    }

    .product label.complement-label {
        font-size: 17px;
    }

    .product .product-content {
        width: 100%;
        flex-flow: column nowrap;
    }

    .product .product-content h2 {
        font-size: 30px;
    }

    .product .product-content p {
        font-size: 16px;
    }

    .selections {
        width: 100%;
        margin-right: 0px;
        border-right: 0px;
    }

    .selection {
        margin-bottom: 10px;
    }

    .confirm-order {
        width: 100%;
    }

    .confirm-order button.add-to-cart {
        font-size: 16px;
    }
    
}

