

.selections {
    width: 30%;
}

.product {
    border-radius: 0px;
}
.product img {
    align-self: flex-start;
}

.confirm-order {
    width: 60%;
}

.btn-container {
    padding: 20px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    justify-content: flex-end;
}

.btn-container > div {
    width: 33%;
}

.btn-container span {
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
}

.btn-container h3 {
    font-size: 40px;
    text-align: center;
}

.btn-container button {
    padding: 20px;
    color: #1d1d1d;
    background: #f5cc1c;
    font-weight: 800;
    font-style: italic;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.btn-container button:hover {
    cursor: pointer;
}

.add-to-cart {
    display:block;
    margin: 0 auto;
}


@media screen and (max-width: 1140px) {
    .confirm-order {
        width: 100%;
    }

    .selections {
        width: 100%;
    }

    h1 {
        width: 100%;
        font-size: 30px;
    }

    .btn-container {
        justify-content: center;
    }
}