body {
    background: #1d1d1d;
    background-image: url("../img/sucursalesImage3.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: 20%; */
    background-position: 5px 200px;
}

header {
    margin-bottom: 20px;
}

main .direction-section {
    margin-bottom: 20px;
}

main .direction-section .form-direction {
    background: #ef3c31;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
}

main .direction-section .form-direction h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px
}

main .direction-section .form-direction label {
    font-weight: 900;
    font-size: 22px;
    color: #fff;
    font-style: italic;
    display: block;
    margin-bottom: 15px;
}

main .direction-section .form-direction select {
    /* border: 2px solid #fff; */
    /* appearance: none; */
    border: none;
    background: #fff;
    color: #1d1d1d;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    /* font-weight: 700; */
    /* font-style: italic; */
}

main .direction-section .form-direction select:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #f5cc1c;
    font-weight: 900;
    font-size: 45px;
    font-style: italic;
    margin-bottom: 20px;
    /* background: #ef3c31; */
}

main .all-stores {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

main .all-stores .sucursal {
    /* min-height: 200px; */
    background: #1d1d1d;
    width: 48%;
    border-radius: 10px;
    /* border-top: 2px solid #f5cc1c; */
    /* border-bottom: 2px solid #f5cc1c; */
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #f5cc1c;
    box-shadow: 0px 0px 15px -1px rgb(245, 204, 28, 0.2);
    /* box-shadow: 0px 0px 15px -1px rgb(239, 60, 49, 0.4); */

    /* align-items: center; */
    /* justify-content: center; */
}



main .all-stores .sucursal .sucursal-icon{
    font-size: 60px;
    color: #fff;
}

main .all-stores .sucursal .title-sucursal {
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 25px;
}


main .all-stores .sucursal .map-location {
    border-radius: 10px;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #fff;
    /* border: 2px solid #fff; */

}

main .all-stores .sucursal .map-location iframe {
    height: 100%;
    width: 100%;
}

main .all-stores .sucursal .sucursal-description {
    width: 100%;
    /* margin-left: 10px; */
    margin-bottom: 20px;
    padding: 0 10px;
}

main .all-stores .sucursal .sucursal-description p {
    color: #fff;
    font-size: 17px;
    display: block;
    margin-bottom: 15px;
}

main .all-stores .sucursal .sucursal-description p b {
    font-weight: 900;
    font-style: italic;
}

main .all-stores .sucursal .sucursal-description .sucursal-tels {
    display: flex;
    justify-content: center;
}

main .all-stores .sucursal .sucursal-description a {
    background: #f5cc1c;
    /* padding: 20px; */
    color: #1d1d1d;
    text-decoration: none;
    box-sizing: border-box;
    padding: 12px;
    display: inline-block;
    margin-right: 10px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
}


@media screen and (max-width: 1140px) {
    main .direction-section .form-direction {
        width: 100%;
        box-sizing: border-box;
    }

    main .all-stores .sucursal {
        width: 100% !important;
    }

    main .direction-section .form-direction h2 {
        font-size: 30px;
    }

    main .direction-section .form-direction select{
        font-size: 18px;
    }

    h1 {
        font-size: 25px;
    }

    main .all-stores .sucursal .title-sucursal{
        font-size: 25px;
    }

    main .all-stores .sucursal .sucursal-icon {
        font-size: 30px;
    }

    main .all-stores .sucursal .sucursal-description .sucursal-tels {
        flex-flow: row wrap;
    }

    main .all-stores .sucursal .sucursal-description a {
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0px;
    }
}



    /* main .direction-section .fo */



