﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/loginstyles.css">
}



<main class="wrap">
    <!-- <img src="img/login.svg" alt="ilustracion referente a login"> -->
    <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
            <button type="submit" class="btn-facebook" name="provider" value="@Model.ExternalLogin[0].Name"><i class="fab fa-facebook"></i> Iniciar sesión con Facebook</button>
        </form>
        <div class="divider">
            <span>O inicia sesion con tu cuenta de Mutcha Pizza.</span>
            <hr>
        </div>
        <form method="post">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" placeholder="Ingresa tu correo electronico" asp-for="Email">
            <span class="validation-message" asp-validation-for="Email"></span>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" placeholder="Ingresa tu contraseña" asp-for="Password">
            <span class="validation-message" asp-validation-for="Password"></span>
            <div asp-validation-summary="ModelOnly"></div>
            <button type="submit">Iniciar Sesión</button>
            <p class="register-question">¿No tienes una cuenta?</p>
            <a asp-controller="MiCuenta" asp-action="Register" class="btn-register">Registrate aqui</a>
        </form>
    </div>
</main>
