﻿@model AccountViewModel
@{
    ViewData["Title"] = "Mi Cuenta";
}

@section Styles {
    <link href="~/css/accountstyles.css" rel="stylesheet" />
}

<main class="wrap">
    @*<h1>Mi Cuenta</h1>*@
    <div>
        <form class="user-options" asp-controller="MiCuenta" asp-action="Logout" method="post">
            <h2>Mi Cuenta</h2>
            @*<label>Salir de la cuenta: </label>*@
            <button>Cerrar Sessión</button>
        </form>
        <form method="post" asp-controller="MiCuenta" asp-action="EditarCuenta">
            @if (ViewBag.ShowSuccessMessage)
            {
                <div class="success-message">Tus datos se han actualizado exitosamente.</div>
            }
            <h2><i class="fas fa-user-circle"></i> Mis Datos</h2>
            <div class="names-section">
                <div class="name-input">
                    <label for="name">Nombre: </label>
                    <input type="text" placeholder="Ingresa tu nombre" id="name" asp-for="Name">
                    <span class="validation-message" asp-validation-for="Name"></span>
                </div>
                <div class="lastname-input">
                    <label for="lastName">Apellido: </label>
                    <input type="text" id="lastName" placeholder="Ingresa tu apellido" asp-for="LastName">
                    <span class="validation-message" asp-validation-for="LastName"></span>
                </div>
            </div>
            <label for="phone">Numero de teléfono: </label>
            <input type="text" placeholder="Ingresa un numero de teléfono" id="phone" asp-for="Phone">
            <span class="validation-message" asp-validation-for="Phone"></span>
            <label>Dirección de envío: </label>
            <input type="text" placeholder="Ingresa tu dirección" id="street" asp-for="Direccion" />
            <hr />
            <button type="submit" class="btn-update">Actualizar Datos</button>
        </form>
    </div>
</main>

@section Scripts{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAz1Wmq9g22Z0URKpFam0VFk1tY2SNoESE"></script>
    <script src="~/js/jquery.geocomplete.js"></script>
    <script>
        $('document').ready(function () {

            $('#phone').inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });

            $('#street').geocomplete({
                formId: "#myForm",
                componentRestrictions: { country: "mx" },
            });
        })

    </script>
}