﻿@model RegisterViewModel 
@{
    ViewData["Title"] = "Registrate";
}
@section Styles {
    <link rel="stylesheet" href="~/css/loginstyles.css">
}



<main class="wrap">
    <form method="post" class="login-form register-form">
        <h2>Registrarse</h2>
        <div class="multi-input">
            <div class="first-input">
                <label for="name">Nombre: </label>
                <input type="text" placeholder="Ingresa tu nombre" id="name" asp-for="Name">
                <span class="validation-message" asp-validation-for="Name"></span>
            </div>
            <div class="second-input">
                <label for="lastName">Apellido: </label>
                <input type="text" id="lastName" placeholder="Ingresa tu apellido" asp-for="LastName">
                <span class="validation-message" asp-validation-for="LastName"></span>
            </div>
        </div>
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" placeholder="Ingresa tu correo electronico" asp-for="Email">
        <span class="validation-message" asp-validation-for="Email"></span>
        <label for="phone">Teléfono: </label>
        <input type="text" id="phone" placeholder="Ingresa tu teléfono: " asp-for="Telefono" />
        <span class="validation-message" asp-validation-for="Telefono"></span>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña" asp-for="Password">
        <span class="validation-message" asp-validation-for="Password"></span>
        <label for="confirmpassword">Confirmar contraseña:</label>
        <input type="password" id="confirmpassword" placeholder="Ingresa de nuevo tu contraseña" asp-for="ConfirmPassword">
        <span class="validation-message" asp-validation-for="ConfirmPassword"></span>
        <div asp-validation-summary="ModelOnly"></div>
        <button type="submit">Crear cuenta</button>
        <p class="register-question">¿Ya tienes una cuenta?</p>
        <a asp-controller="MiCuenta" asp-action="Index" class="btn-register">Inicia sesión aqui</a>
    </form>
</main>

@section Scripts {
    <script>
        $('document').ready(function () {

            $('#phone').inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });
        });
    </script>
}
