﻿@model BasicPizzaProductViewModel
@{
    ViewData["Title"] = Model.PizzaInfo.Nombre;
}

@section Styles {
    <link rel="stylesheet" href="~/css/productstyles.css">
}

<main class="wrap">
    <article class="product" data-topping-max="@Model.PizzaInfo.CantidadDeIngredientesMinimos" data-step="1" data-title="Detalles de Producto" data-position="left" data-scrollto="tooltip" data-intro='Aqui puedes ver los detalles de la pizza, y ademas seleccionar el tipo de pan asi como seleccionar los ingredientes '>
        <img src="/Imagenes/GetImage?id=@Model.PizzaInfo.ImagenID" alt="pizza">
        <div class="product-content">
            <h2>@Model.PizzaInfo.Nombre</h2>
            <p>@Model.PizzaInfo.Descripcion</p>
            <div class="selections">
                <div class="selection" data-step="2" data-title="Tipo de pan" data-scrollto="tooltip" data-intro='Primero selecciona el tipo de pan'>
                    <label for="" class="complement-label">Tipo de pan:</label>
                    <div class="breads">
                        <div class="radio-option">
                            <input type="radio" id="bread-regular" name="bread" value="Regular"><label for="bread-regular">Regular</label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" id="bread-krunchy" name="bread" value="Krunchy"><label for="bread-krunchy">Krunchy</label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" id="bread-delgada" name="bread" value="Delgada"><label for="bread-delgada">Delgada</label>
                        </div>
                        <span class="validation-message" id="validationBread">Por favor seleccione un tipo de pan.</span>
                    </div>
                </div>
                <div class="selection" data-step="3" data-title="Ingredientes" data-scrollto="tooltip" data-intro='Selecciona al menos un ingrediente, cada ingrediente extra te costará $30, los ingredientes que selecciones se mostraran aqui'>
                    <label for="ingredientes" class="complement-label">Ingredientes (1 ingrediente Obligatorio): </label>
                    <span class="validation-message" id="validationToppings">Por favor seleccione al menos @Model.PizzaInfo.CantidadDeIngredientesMinimos ingrediente(s).</span>
                    <ul class="toppings-included">
                        @*<li><img src="~/img/iconlistIngredientesWhite.png" /><span>Prueba</span></li>*@
                    </ul>
                    <div class="toppings-filter">
                        <button name="ingredientes" class="btn-toppings"><i class="fas fa-plus-square"></i> Mostrar Ingredientes</button>
                        <div class="acord-cont">
                            @foreach (var ingredient in Model.Ingredientes)
                            {
                                <div class="topping-check">
                                    <input type="checkbox" id="@ingredient.Nombre" value="@ingredient.ID"> <label for="@ingredient.Nombre">@ingredient.Nombre</label>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="confirm-order">
                <div>
                    <label for="" class="complement-label">Cantidad:</label>
                    <div class="quantity" data-step="4" data-title="Cantidad" data-scrollto="tooltip" data-intro='Elige cuantas pizzas deseas ordenar.'>
                        <button class="btn-quantity btn-quantity-left" id="btnQuantityMinus"><i class="fas fa-minus"></i></button>
                        <input id="numberOfArticles" type="text" class="quantity-input" value="1">
                        <button class="btn-quantity btn-quantity-right" id="btnQuantityPlus"><i class="fas fa-plus"></i></button>
                    </div>
                    <label for="" class="complement-label">Precio Final:</label>
                    <h3 id="price" data-product-price="@Model.PizzaInfo.Precio">$@Model.PizzaInfo.Precio</h3>
                </div>
                <input type="hidden" id="articleID" value="@Model.PizzaInfo.ID" />
                <button class="add-to-cart" data-step="5" data-title="Finalizar" data-scrollto="tooltip" data-intro='Cuando ya hayas decidido las selecciones previas, pulsa el boton agregar al carrito para agregar tu pizza al carrito.'>Agregar al carrito</button>
                <span class="validation-message" id="validationAdding">Ha ocurrido un error al procesar su solicitud.</span>
            </div>
        </div>
    </article>
    <div class="product-slider">
        <h2>Relacionados...</h2>
        <ul class="autoWidth cs-hidden">
            @foreach (var product in Model.ArticulosRelacionados)
            {
                <li class="item-a">
                    <div class="card-content">
                        <img src="/Imagenes/GetImage?id=@product.ImagenID" alt="producto">
                        <p class="card-title">@product.Nombre</p>
                        <p class="card-description">@product.Descripcion</p>
                        <span class="card-price">$@product.Precio</span>
                        <a asp-controller="Producto" asp-action="Basics" asp-route-id="@product.ID">Ordenar Ahora</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</main>

@section Scripts {
    @if (ViewBag.ShowOnboarding)
    {
        <script>
            introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();
        </script>
    }
    <script>

        $('document').ready(function () {
            $('.btn-toppings').click(function () {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).html('<i class="fas fa-minus-square"></i> Ocultar Ingredientes');
                } else {
                    $(this).html('<i class="fas fa-plus-square"></i> Mostrar Ingredientes');
                }



                let panel = $(this).next();
                panel.toggleClass('active');


            });

            $('#numberOfArticles').inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });

            $('#btnQuantityMinus').click(function () {

                var numberOfArticles = $('#numberOfArticles').val();
                if (numberOfArticles > 1)
                    $('#numberOfArticles').val(numberOfArticles - 1);

            });

            $('#btnQuantityPlus').click(function () {
                var numberOfArticles = $('#numberOfArticles').val();

                $('#numberOfArticles').val(parseInt(numberOfArticles) + 1);

            });


            addToCart();
            function addToCart() {

                $('.add-to-cart').click(function () {


                    //OBTENER LA SELECCION DEL TIPO DE PAN



                    var url = "/Carrito/AgregarArticuloPizzaBasica";
                    var articleId = $('#articleID').val();
                    var cantidad = $('#numberOfArticles').val();
                    var ingredientesDOM = $('.topping-check  input:checked');
                    var tipoDePan = $('input[name="bread"]:checked').val();

                    var ingredientesArray = [];

                    ingredientesDOM.each(function () {
                        ingredientesArray.push($(this).val());
                    });


                    //Check if the user selected some bread and at least the minum number of ingredients
                    var passBread = true;
                    console.log(tipoDePan);
                    if (tipoDePan == null) {
                        passBread = false;
                        $('#validationBread').show();
                    } else {
                        $('#validationBread').hide();
                    }

                    var passIngredients = true;
                    var maxIngredients = $('.product').attr('data-topping-max');
                    if (ingredientesDOM.length < maxIngredients) {
                        passIngredients = false;
                        $('#validationToppings').show();
                    } else {
                        $('#validationToppings').hide();
                    }

                    if (passBread && passIngredients) {
                        var data = { ID: articleId, Cantidad: cantidad, Ingredientes: ingredientesArray, TipoDePan: tipoDePan };

                        $.post(url, data).done(function (data) {

                            //Traernos la info actualizada del carrito
                            if (data == true) {
                                getCartElements();
                                showSuccessMessage();
                                $('#validationAdding').hide();
                            } else {
                                $('#validationAdding').show();
                            }

                        }).fail(manejoError).always(function () {
                            console.log("Esto se ejecuta siempre");
                            //SIEMPRE SE EJECUTA ESTA FUNCION INDEPENDIENTEMENTE DE SI FALLA O NO
                        });

                        function manejoError(err) {
                            console.log("Ha ocurrido un error con la peticion de ajax");
                        }
                    }

                })


            }

            $('input[name="bread"]').change(function () {
                $('#validationBread').hide();
            });


            updateToppings();
            function updateToppings() {

                $('.topping-check input').change(function () {
                  
                    $('#validationToppings').hide();
                    $('.toppings-included').empty();
                    var ingredientes = $('.topping-check  input:checked');
                    ingredientes.each(function () {


                        var toppingItemList = $('<li></li>');
                        toppingItemList.attr('data-topping', $(this).val());
                        var toppingImg = $('<img/>').attr('src', '/img/iconlistIngredientesWhite.png');
                        var toppingName = $('<span></span>').text($(this).next().text()).append($('<i class="fas fa-times-circle"></i>'));

                        toppingItemList.append(toppingImg, toppingName);
                       
                        $('.toppings-included').append(toppingItemList);


                    });

                    updatePrice();

                });

                $('.toppings-included').on('click', 'li', function () {
                    var toppingId = $(this).attr('data-topping');

                    var ingrediente = $('.topping-check  input[value="' + toppingId + '"]:checked');

                    ingrediente.prop('checked', false);
                    updatePrice();
                    $(this).fadeOut(200, function () { remove() });
                });


            }

            function updatePrice() {
                var ingredientes = $('.topping-check  input:checked');
                var maxIngredients = $('.product').attr('data-topping-max');
                var precio = parseInt($('#price').attr('data-product-price'));
                var cantidadDeIngredientes = ingredientes.length;
                var precioFinal = precio;
                if (cantidadDeIngredientes > 0) {
                    precioFinal = precio + (30 * (cantidadDeIngredientes - maxIngredients));
                }

                $('#price').text('$' + precioFinal);
            }



        });

    </script>
}