﻿@model ExtrasProductPageViewModel
@{
    ViewData["Title"] = Model.Articulo.Nombre;
}

@section Styles {
    <link rel="stylesheet" href="~/css/productstyles.css">
}

<main class="wrap">
    <article class="product" data-step="1" data-title="Detalles de Producto" data-position="left" data-scrollto="tooltip" data-intro='Aqui puedes ver los detalles del producto, y seleccionar la cantidad de productos que deseas ordenar '>
        <img src="/Imagenes/GetImage?id=@Model.Articulo.ImagenID" alt="pizza">
        <div class="product-content generic-product">
            <h2>@Model.Articulo.Nombre</h2>
            <p>@Model.Articulo.Descripcion</p>
            <div class="confirm-order">
                <div>
                    <label for="" class="complement-label">Cantidad:</label>
                    <div class="quantity" data-step="2" data-title="Cantidad" data-scrollto="tooltip" data-intro='Elige cuantos productos deseas ordenar.'>
                        <button class="btn-quantity btn-quantity-left" id="btnQuantityMinus"><i class="fas fa-minus"></i></button>
                        <input id="numberOfArticles" type="text" class="quantity-input" value="1">
                        <button class="btn-quantity btn-quantity-right" id="btnQuantityPlus"><i class="fas fa-plus"></i></button>
                    </div>
                    <label for="" class="complement-label">Precio Final:</label>
                    <h3>$@Model.Articulo.Precio</h3>
                </div>
                <input type="hidden" id="articleID" value="@Model.Articulo.ID" />
                <button class="add-to-cart" data-step="3" data-title="Finalizar" data-scrollto="tooltip" data-intro='Cuando ya hayas decidido las selecciones previas, pulsa el boton agregar al carrito para agregar tu producto al carrito.'>Agregar al carrito</button>
                <span class="validation-message" id="validationAdding">Ha ocurrido un error al procesar su solicitud.</span>
            </div>
        </div>
    </article>
    <div class="product-slider">
        <h2>Relacionados...</h2>
        <ul class="autoWidth cs-hidden">
            @foreach (var product in Model.ArticulosRelacionados)
            {
                <li class="item-a">
                    <div class="card-content">
                        <img src="/Imagenes/GetImage?id=@product.ImagenID" alt="producto">
                        <p class="card-title">@product.Nombre</p>
                        <p class="card-description">@product.Descripcion</p>
                        <span class="card-price">$@product.Precio</span>
                        <a asp-controller="Producto" asp-action="Extras" asp-route-id="@product.ID">Ordenar Ahora</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</main>

@section Scripts {
    @if (ViewBag.ShowOnboarding)
    {
        <script>
            introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();
        </script>
    }
    <script>
        $('document').ready(function () {
            $('.btn-toppings').click(function () {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).html('<i class="fas fa-minus-square"></i> Ocultar Ingredientes');
                } else {
                    $(this).html('<i class="fas fa-plus-square"></i> Mostrar Ingredientes');
                }

                let panel = $(this).next();
                panel.toggleClass('active');
                // console.log(panel);
                // if(panel.css('max-height') != 0){
                //     panel.css('max-height', 0);
                // } else {
                //     panel.css('overflow', 'scroll')
                //     panel.css('max-height', '400px');
                //     // panel.css('max-height', panel.scrollTop + 'px');
                // }
            });

            $('#numberOfArticles').inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });

            $('#btnQuantityMinus').click(function () {

                var numberOfArticles = $('#numberOfArticles').val();
                if (numberOfArticles > 1)
                    $('#numberOfArticles').val(numberOfArticles - 1);

            });

            $('#btnQuantityPlus').click(function () {
                var numberOfArticles = $('#numberOfArticles').val();

                $('#numberOfArticles').val(parseInt(numberOfArticles) + 1);

            });

            addToCart();
            function addToCart() {

                $('.add-to-cart').click(function () {


                    var url = "/Carrito/AgregarArticuloExtra";
                    var articleId = $('#articleID').val();
                    var cantidad = $('#numberOfArticles').val();





                    var data = { ID: articleId, Cantidad: cantidad };

                    $.post(url, data).done(function (data) {


                        if (data == true) {
                            getCartElements();
                            showSuccessMessage();
                            $('#validationAdding').hide();
                        } else {
                            $('#validationAdding').show();
                        }

                    }).fail(manejoError).always(function () {
                        console.log("Esto se ejecuta siempre");
                    });

                    function manejoError(err) {
                        console.log("Ha ocurrido un error con la peticion de ajax");
                    }
                })


            }
        });
    </script>
}