﻿@model PromotionProductPageModel
@{
    ViewData["Title"] = Model.Promotion.Nombre;
}
@section Styles {
    <link rel="stylesheet" href="~/css/productstyles.css">
    <link rel="stylesheet" href="~/css/promotionstyles.css">
}
<main class="wrap">
    <h1>@Model.Promotion.Nombre</h1>
    @for(int i = 0; i< Model.Promotion.Articulos.Count(); i++)
    {
        <article class="product @(i==0 ? "first" : "")" data-topping-max="@Model.Promotion.Articulos[0].CantidadDeIngredientes">
            <img src="/Imagenes/GetImage?id=@Model.Promotion.Articulos[i].ImagenID" alt="Imagen del Producto" />
            <div class="product-content">
                <h2>@Model.Promotion.Articulos[i].Nombre - #@(i+1)</h2>
                <p>@Model.Promotion.Articulos[i].Descripcion</p>
                <div class="selections">
                    <div class="selection">
                        <label for="" class="complement-label">Tipo de pan:</label>
                        <div class="breads">
                            <div class="radio-option">
                                <input type="radio" id="bread-regular@(i)" name="bread@(i)" value="Regular"><label for="bread-regular@(i)">Regular</label>
                            </div>
                            <div class="radio-option">
                                <input type="radio" id="bread-krunchy@(i)" name="bread@(i)" value="Krunchy"><label for="bread-krunchy@(i)">Krunchy</label>
                            </div>
                            <div class="radio-option">
                                <input type="radio" id="bread-delgada@(i)" name="bread@(i)" value="Delgada"><label for="bread-delgada@(i)">Delgada</label>
                            </div>
                            <span class="validation-message" id="validationBread@(i)">Por favor seleccione un tipo de pan.</span>
                        </div>
                    </div>

                </div>
                <div class="confirm-order">
                    <div class="selection">
                        <label for="ingredientes" class="complement-label">Ingredientes (@Model.Promotion.Articulos[i].CantidadDeIngredientes @(Model.Promotion.Articulos[i].CantidadDeIngredientes != 1 ? "requeridos" : "requerido")): </label>
                        <span class="validation-message" id="validationToppings@(i)">Por favor seleccione al menos @Model.Promotion.Articulos[i].CantidadDeIngredientes ingrediente(s).</span>
                        <ul class="toppings-included" id="toppingsIncluded@(i)">
                            @*<li><img src="~/img/iconlistIngredientesWhite.png" /><span>Prueba</span></li>*@
                        </ul>
                        <div class="toppings-filter">
                            <button name="ingredientes" class="btn-toppings active"><i class="fas fa-minus-square"></i> Ocultar Ingredientes</button>
                            <div class="acord-cont active ingredientesCheck@(i)">
                                @foreach (var ingredient in Model.Ingredientes)
                                {
                                    <div class="topping-check">
                                        <input type="checkbox" id="@(ingredient.Nombre)@i" value="@ingredient.ID"> <label for="@(ingredient.Nombre)@i">@ingredient.Nombre</label>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    }
    <div class="btn-container">
        <div>
            <span>Precio:</span>
            <h3>$@Model.Promotion.PrecioFinal</h3>
            <input type="hidden" id="articleID" value="@Model.Promotion.ID" />
            <input type="hidden" id="numberOfArticles" value="@Model.Promotion.Articulos.Count()" />
            <button class="add-to-cart">Agregar al Carrito</button>
            <span class="validation-message" id="validationAdding">Ha ocurrido un error al procesar su solicitud.</span>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $('document').ready(function(){
            $('.btn-toppings').click(function(){
                $(this).toggleClass('active');
                if($(this).hasClass('active')){
                    $(this).html('<i class="fas fa-minus-square"></i> Ocultar Ingredientes');
                } else {
                    $(this).html('<i class="fas fa-plus-square"></i> Mostrar Ingredientes');
                }

                let panel = $(this).next();
                panel.toggleClass('active');
                // console.log(panel);
                // if(panel.css('max-height') != 0){
                //     panel.css('max-height', 0);
                // } else {
                //     panel.css('overflow', 'scroll')
                //     panel.css('max-height', '400px');
                //     // panel.css('max-height', panel.scrollTop + 'px');
                // }
            });

            addToCart();
            function addToCart() {

                $('.add-to-cart').click(function () {


                    //OBTENER LA SELECCION DEL TIPO DE PAN



                    var url = "/Carrito/AgregarArticuloPromocion";
                    var articleId = $('#articleID').val();

                    var numberOfArticles = $('#numberOfArticles').val();
                    var articulosIngredientesArray = [];
                    var articulosTipoDePanArray = [];

                    var maxIngredients = $('.product').attr('data-topping-max');
                    var passIngredients = true;
                    var passBread = true;

                    for (i = 0; i < numberOfArticles; i++) {
                        var ingredientesArray = [];

                        var ingredientesDOM = $('.ingredientesCheck' + i + ' .topping-check  input:checked');   

                        //Validar aqui si selecciono al menos los ingredientes necesarios para poder comprar la pizza
                        if (ingredientesDOM.length < maxIngredients) {
                            passIngredients = false;
                            $('#validationToppings'+i).show();
                        } else {
                            $('#validationToppings'+i).hide();
                        }


                        ingredientesDOM.each(function () {
                            ingredientesArray.push($(this).val());
                        });

                        articulosIngredientesArray.push(ingredientesArray);

                        var tipoDePan = $('input[name="bread' + i + '"]:checked').val();
                        //Validar aqui cada pizza y mostrar si no selecciono el tipo de pan
                        
                        if (tipoDePan == null) {
                            passBread = false;
                            $('#validationBread'+i).show();
                        } else {
                            $('#validationBread'+i).hide();
                        }


                        articulosTipoDePanArray.push(tipoDePan);
                    }

                    

            
                    if (passBread && passIngredients) {
                        var data = { ID: articleId, IngredientesArticulos: articulosIngredientesArray, TiposDePanArticulos: articulosTipoDePanArray, Cantidad: 1 };

                        $.post(url, data).done(function (data) {

                            //Traernos la info actualizada del carrito
                            if (data == 1) {
                                getCartElements();
                                showSuccessMessage();
                            } else if (data == 2) {
                                $('#validationAdding').css('text-align', 'right').text('No puedes ordenar dos promociones iguales el mismo dia.').show();
                            } else {
                                $('#validationAdding').text("Ha ocurrido un error al procesar su solicitud.").show();
                            }

                        }).fail(manejoError).always(function () {
                            console.log("Esto se ejecuta siempre");
                           
                        });

                        function manejoError(err) {
                            console.log("Ha ocurrido un error con la peticion de ajax");
                        }
                    } else {
                        $('#validationAdding').text("Revise si selecciono los campo requeridos.").show();
                    }
                })


            }

            $('input[type="radio"]').change(function () {
                $(this).parent().siblings('span').hide();
            });


            updateToppings();
            function updateToppings() {
                var numberOfArticles = $('#numberOfArticles').val();
                var maxIngredients = $('.product').attr('data-topping-max');
                $('.topping-check input').change(function () {
                    var idIngredient = $(this).attr('id');
                    var id = idIngredient[idIngredient.length - 1];
                    $('#validationToppings' + id).hide();
                    $('#toppingsIncluded'+id).empty();


                    var ingredientes = $('.ingredientesCheck' + id + ' .topping-check  input:checked');
                    if (ingredientes.length > maxIngredients) {
                        $(this).prop('checked', false);
                        ingredientes = $('.ingredientesCheck' + id + ' .topping-check  input:checked')
                    } 
                    ingredientes.each(function () {


                        var toppingItemList = $('<li></li>');
                        toppingItemList.attr('data-topping-' + id, $(this).val());
                        var toppingImg = $('<img/>').attr('src', '/img/iconlistIngredientesWhite.png');
                        var toppingName = $('<span></span>').text($(this).next().text()).append($('<i class="fas fa-times-circle"></i>'));

                        toppingItemList.append(toppingImg, toppingName);
                        //toppingItemList.css('display', 'none');
                        //toppingItemList.appendTo('.toppings-included').show('slow');
                        $('#toppingsIncluded' + id).append(toppingItemList);


                    });

                });

                $('.toppings-included').on('click', 'li', function () {
                    //Get the ul.toppingsIncluded
                    var toppingsIncluded = $(this).parent().attr('id');

                    var toppingsIncludedId = toppingsIncluded[toppingsIncluded.length - 1];

                    var toppingId = $(this).attr('data-topping-'+toppingsIncludedId);

                    var ingrediente = $('.ingredientesCheck'+toppingsIncludedId+' .topping-check  input[value="' + toppingId + '"]:checked');

                    ingrediente.prop('checked', false);
                    $(this).fadeOut(200, function () { remove() });
                });
                
            }

        });
    </script>
}