﻿@model SpecialPizzaProductViewModel
@{
    ViewData["Title"] = Model.Pizza.Nombre;
}

@section Styles {
    <link rel="stylesheet" href="~/css/productstyles.css">
}

<main class="wrap">
    <article class="product" data-step="1" data-title="Detalles de Producto" data-position="left" data-scrollto="tooltip" data-intro='Aqui puedes ver los detalles de la pizza, y ademas seleccionar el tipo de pan asi como seleccionar los ingredientes '>
        <img src="/Imagenes/GetImage?id=@Model.Pizza.ImagenID" alt="pizza">
        <div class="product-content">
            <h2>@Model.Pizza.Nombre</h2>
            <p>@Model.Pizza.Descripcion</p>
            <div class="selections">
                <div class="selection"  data-step="2" data-title="Tipo de pan" data-scrollto="tooltip" data-intro='Primero selecciona el tipo de pan'>
                    <label for="" class="complement-label">Tipo de pan:</label>
                    <div class="breads">
                        <div class="radio-option">
                            <input type="radio" id="bread-regular" name="bread" value="Regular"><label for="bread-regular">Regular</label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" id="bread-krunchy" name="bread" value="Krunchy"><label for="bread-krunchy">Krunchy</label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" id="bread-delgada" name="bread" value="Delgada"><label for="bread-delgada">Delgada</label>
                        </div>
                        <span class="validation-message" id="validationBread">Por favor seleccione un tipo de pan.</span>
                    </div>
                </div>
                <div class="selection">
                    <label for="" class="complement-label">Ingredientes Incluidos: </label>
                    <ul class="toppings-included">
                        @foreach (var ingrediente in Model.Pizza.Ingredientes)
                        {
                            <li><img src="~/img/iconlistIngredientesWhite.png"/><span>@ingrediente.Nombre</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="confirm-order">
                <div>
                    <label for="" class="complement-label">Cantidad:</label>
                    <div class="quantity" data-step="3" data-title="Cantidad" data-scrollto="tooltip" data-intro='Elige cuantas pizzas deseas ordenar.'>
                        <button class="btn-quantity btn-quantity-left" id="btnQuantityMinus"><i class="fas fa-minus"></i></button>
                        <input id="numberOfArticles" type="text" class="quantity-input" value="1">
                        <button class="btn-quantity btn-quantity-right" id="btnQuantityPlus"><i class="fas fa-plus"></i></button>
                    </div>
                    <label for="" class="complement-label">Precio Final:</label>
                    <h3>$@Model.Pizza.Precio</h3>
                </div>
                <input type="hidden" id="articleID" value="@Model.Pizza.ID" />
                <button class="add-to-cart" data-step="4" data-title="Finalizar" data-scrollto="tooltip" data-intro='Cuando ya hayas decidido las selecciones previas, pulsa el boton agregar al carrito para agregar tu pizza al carrito.'>Agregar al carrito</button>
                <span class="validation-message" id="validationAdding">Ha ocurrido un error al procesar su solicitud.</span>
            </div>
        </div>
    </article>
    <div class="product-slider">
        <h2>Relacionados...</h2>
        <ul class="autoWidth cs-hidden">
            @foreach (var product in Model.ArticulosRelacionados)
            {
                <li class="item-a">
                    <div class="card-content">
                        <img src="/Imagenes/GetImage?id=@product.ImagenID" alt="producto">
                        <p class="card-title">@product.Nombre</p>
                        <p class="card-description">@product.Descripcion</p>
                        <span class="card-price">$@product.Precio</span>
                        <a asp-controller="Producto" asp-action="Specials" asp-route-id="@product.ID">Ordenar Ahora</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</main>

@section Scripts {
    @if (ViewBag.ShowOnboarding)
    {
    <script>
        introJs().setOptions({ nextLabel: 'Siguiente', prevLabel: 'Anterior', doneLabel: 'Listo' }).start();
    </script>
    }
    <script>
        $('document').ready(function(){
            $('.btn-toppings').click(function(){
                $(this).toggleClass('active');
                if($(this).hasClass('active')){
                    $(this).html('<i class="fas fa-minus-square"></i> Ocultar Ingredientes');
                } else {
                    $(this).html('<i class="fas fa-plus-square"></i> Mostrar Ingredientes');
                }

                let panel = $(this).next();
                panel.toggleClass('active');
                // console.log(panel);
                // if(panel.css('max-height') != 0){
                //     panel.css('max-height', 0);
                // } else {
                //     panel.css('overflow', 'scroll')
                //     panel.css('max-height', '400px');
                //     // panel.css('max-height', panel.scrollTop + 'px');
                // }


            });

            $('#numberOfArticles').inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });

            $('#btnQuantityMinus').click(function () {

                var numberOfArticles = $('#numberOfArticles').val();
                if (numberOfArticles > 1)
                    $('#numberOfArticles').val(numberOfArticles - 1);

            });

            $('#btnQuantityPlus').click(function () {
                var numberOfArticles = $('#numberOfArticles').val();

                $('#numberOfArticles').val(parseInt(numberOfArticles) + 1);

            });

            addToCart();
            function addToCart() {

                $('.add-to-cart').click(function () {





                    var url = "/Carrito/AgregarArticuloPizzaEspecial";
                    var articleId = $('#articleID').val();
                    var cantidad = $('#numberOfArticles').val();

                    var tipoDePan = $('input[name="bread"]:checked').val();

                    //Check if the user selected some bread and at least the minum number of ingredients
                    var passBread = true;
                    console.log(tipoDePan);
                    if (tipoDePan == null) {
                        passBread = false;
                        $('#validationBread').show();
                    } else {
                        $('#validationBread').hide();
                    }

                    if (passBread) {
                        var data = { ID: articleId, Cantidad: cantidad, TipoDePan: tipoDePan };

                        $.post(url, data).done(function (data) {


                            if (data == true) {
                                getCartElements();
                                showSuccessMessage();
                                $('#validationAdding').hide();
                            } else {
                                $('#validationAdding').show();
                            }

                        }).fail(manejoError).always(function () {
                            console.log("Esto se ejecuta siempre");
                        });

                        function manejoError(err) {
                            console.log("Ha ocurrido un error con la peticion de ajax");
                        }

                    }
                })


            }
        });
    </script>
}