header {
    margin-bottom: 40px;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    height: 600px;
    width: 50%;
}

.login-form {
    background: #fff;
    width: 35%;
    box-shadow: -1px 22px 37px -20px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    border-top: 5px solid #f5cc1c;
    /* display: flex;
    flex-flow: row wrap; */
}

.login-form .btn-facebook {
    background-color: #3b5998;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    /* box-sizing: border-box; */
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-form span {
    display: block;
    text-align: center;
    font-weight: 900;
    color: #1d1d1d;
    opacity: 0.7;
    font-size: 14px;
    /* position: relative;
    top: 10px; */
    margin-bottom: 10px;
}

.login-form hr {
    border-radius: 10px;
    border: 0;
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #ddd;
    /* color: #ddd; */
    margin-bottom: 15px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
    color: #ef3c31;
    width: 100%;
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
}

.login-form input {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.login-form input:focus {
    border: 1px solid #f5cc1c;
}

.login-form button {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    display: block;
    background: #f5cc1c;
    /* font-weight: 700; */
    /* font-style: italic; */
    font-size: 17px;
    margin: 0 auto;
    transition: all ease .3s;
    margin-bottom: 20px;
}

.login-form button:hover {
    cursor: pointer;
    background: #ef3c31;
    color: #fff;
}

.login-form .register-question {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
}

.login-form .btn-register {
    color: #f5cc1c;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
}

.login-form .btn-register:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-form .name-input {
    width: 48%;
    margin-right: 10px;
}

.login-form .lastname-input {
    width: 48%;
}

.login-form .names-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}