* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #eee;
    font-size: 16px;
    height: 100%;
    position: relative;
}

/* main {
    width: 100%;
    min-height: 100%;
} */

main {
    box-sizing: border-box;
    min-height: 90vh;
    position: relative;
    display: block;
    padding-bottom: 300px;
}

.wrap {
    width: 70%;
    margin: auto;
}


header {
    z-index: 1000;
}


header nav {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* min-height: 70px; */
    max-height: 80px;
    background: #ef3c31;
    border-bottom: 7px solid #f5cc1c;
    padding: 20px 0;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
}

header nav .wrap {
    display: flex;
    width: 60%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header nav .wrap .menu-items {
    margin-bottom: 10px;
}

header nav .wrap .menu-items.left-menu-items {
    width: 35%;
}

header nav .wrap .menu-items.right-menu-items {
    display: flex;
    width: 35%;
    justify-content: flex-end;
    align-items: center;
    /* align-items: center; */
}

.menu-responsive-items {
    display: none;
}

header nav .wrap .menu-items a{
    color: #1d1d1d;
    font-size: 17px;
    text-decoration: none;
    font-weight: 900;
    padding: 15px;
    font-style: italic;
    transition: color ease .2s;
    box-sizing: border-box;
    /* border-bottom: 2px solid #ef3c31; */
    /* text-transform: uppercase; */
}



header nav .wrap .menu-items a:hover{
    color: #f5cc1c;
    /* border-bottom: 2px solid #f5cc1c; */
}

header nav .wrap .menu-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 30%;
    /* background: #f5cc1c; */
    /* border-radius: 30px; */
    /* border-bottom: 5px solid black; */
}



header nav .wrap .menu-logo img {
    width: 50%;
    z-index: 1001;
}

header nav .wrap .menu-logo img:hover {
    cursor: pointer;
}



header nav .wrap .menu-items .shop-car-container {
    position: relative;
    width: 65%;
    margin-left: 15px
    /* display: flex; */
}

header nav .wrap .menu-items .car-popover-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 11px 15px -3px rgba(0,0,0,0.3);
    border: 1px solid #ddd;
    border-radius: 10px;
    z-index: 5000;
    transition: all ease .2s;
    /* margin-right: 50%; */
    /* padding: 15px; */
}

header nav .wrap .menu-items .car-popover-content::before {
    position: absolute;
    top: -10px;
    content: "";
    /* right: calc(50% - 10px); */
    right: calc(50% - 10px);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
}

header nav .wrap .menu-items .shop-car-container:hover .car-popover-content{
    visibility: visible;
    opacity: 1;
}

.car-popover-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    /* padding: 10px 2px; */
}

.car-popover-item img {
    width: 30%;
    height: 100%;
}
.car-popover-item .car-popover-item-info {
    width: 60%;
}

.car-popover-item .car-popover-item-info p{
    /* width: 70%; */
    margin-bottom: 10px;
    font-size: 14px;
}
.car-popover-content .car-popover-item-money {
    color: #ef3c31;
    font-weight: 900;
}

.car-popover-content .car-popover-item-label {
    font-weight: 700;
}

.car-popover-content .car-popover-item-title {
    font-weight: 900;
    font-size: 16px;
}

.car-popover-content .car-popover-total {
    font-size: 20px;
    color: #ef3c31;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.menu-items .car-popover-content > a.car-btn-pay {
    background: #f5cc1c;
    display: block;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}

.menu-items .car-popover-content > a.car-btn-pay:hover {
    background: #ef3c31;
}


header nav .wrap .menu-items a.shop-car {
    background: #f5cc1c;
    border-radius: 25px;
    padding: 15px 50px;
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all ease .2s;
}

 header nav .wrap .menu-items a.shop-car:hover {
    color: #1d1d1d;
    border: none;
    margin-bottom: 10px; 
}




.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 600px;
    display: flex;
    align-items: flex-end;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1.5s;
}

.slide img {
    width: 100%;
    height: 600px;
}

.slide .slide-img {
    /* background-color: black; */
    width: 100%;
    height: 600px;
    display: flex;
    background-size: 100% 600px;
    display: flex;
    /* backdrop-filter: blur(20px); */
}



.slide .slide-img .slide-content {
    width: 60%;
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.slide .slide-img .slide-content.slide-content-right {
    justify-content: flex-end;
}


.slide .slide-img .slide-content h2{
    font-size: 110px;
    width: 100%;
    color: #fff;
    font-weight: 900;
    font-style: italic;
}

.slide .slide-img .slide-content.slide-content-right h2 {
    text-align: right;
}

.slide .slide-img .slide-content .promotion-description {
    font-size: 45px;
    color: #f5cc1c;
    font-weight: bold;
    width: 50%;
    margin-right: 50%;
    padding-bottom: 20px;
}

.slide .slide-img .slide-content .promotion-description.bg-red {
    color: #ef3c31;
}

.slide .slide-img .slide-content.slide-content-right .promotion-description {
    text-align: right;
    margin-left: 50%;
    margin-right: 0;
}

.slide .slide-img .slide-content .promotion-btns {
    display: flex;
}



.slide .slide-img .slide-content .promotion-btns a {
    background: #f5cc1c;
    color: #1d1d1d;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}

.slide .slide-img .slide-content .promotion-btns a.btn-red {
    background: #ef3c31;
    color: #fff;
}



.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex; 
    margin-bottom: 40px;
    justify-content: center;
}

.manual-btn {
    border: 2px solid red;
    padding: 3px 9px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: red;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio1:checked ~ .navigation-manual .manual-btn1 {
    background: red;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio2:checked ~ .navigation-manual .manual-btn2 {
    background: red;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio3:checked ~ .navigation-manual .manual-btn3 {
    background: red;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio4:checked ~ .navigation-manual .manual-btn4 {
    background: red;
}


/* Recommended */
.recommended-section {
    background: #1d1d1d;
    padding: 20px 0;
}


.recommended h2 {
    color: #ef3c31;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}

.recommended  > a{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
    background: #f5cc1c;
    padding: 20px 15px;
    width: 25%;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    /* text-transform: uppercase; */
    transition: width ease .3s;
}

.recommended  a:hover {
    width: 40%;
    color: #1d1d1d;
}

.recommended .products {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.recommended .products .box {
    width: 24%;
    min-height: 500px;
    max-height: 620px;
    background-color: #ef3c31;
    /* background-image: url("../img/backgroundcard.jpg"); */
    border-radius: 16px;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 20px 10px;
    padding: 15px;
    top: 0;
    transition: top ease .3s;
}

.recommended .products .box:not(:last-child){
    margin-right: 1%;
}

.recommended .products .box:hover {
    position: relative;
    top: -20px;
}

.product-img {
    height: 200px;
    /* max-height: 100%; */
    max-width: 80%;
    /* margin-bottom: 20px; */
}

.recommended .products .box .product-title {
    font-weight: 900;
    font-size: 30px;
    font-style: italic;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    color: #fff;
    text-align: center;
}


.recommended .products .box .details {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: none;
    /* margin-bottom: 20px; */
}

.recommended .products .box .details p {
    text-align: left;
    font-weight: light;
    color: #fff;
}

.recommended .products .box a {
    color: #1d1d1d;
    text-decoration: none;
    margin-top: 15px;
    background: #f5cc1c;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 900;
    font-style: italic;
    box-sizing: border-box;
    width: 80%;
    transition: width ease .3s;
    display: none;
}

.recommended .products .box a:hover {
    width: 100%;
}



.recommended-to-user {
    background: #eee;
    background-image: url("../img/backgroundImage.svg");
    background-repeat: no-repeat;
    background-position: 100% 30%;
    background-size: 30%;
    padding: 30px 0;
    /* min-height: 500px; */
}

.recommended-to-user h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: #f5cc1c;
    margin-bottom: 20px;
}


.product-slider {
    width: 70%;
    margin: 0 auto;
    /* height: 200px; */
    /* overflow: hidden; */
}

.product-slides {
    width: 500%;
    height: 500px;
    display: flex;
    align-items: center;
}

.product-slide {
    width: 5%;
    transition: all ease .7s;
}


.card-product {
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 20px;
    /* z-index: 3; */
}

/* Cuando queremos mandar a otra pagina para mostrar mas */
.card-product.card-final {
    height: 200px;
    border-radius: 100%;
}

.card-content {
    border-radius: 10px;
    /* height: 100%; */
    background: #fff;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 3;
}

.card-content:hover {
    cursor: default;
}

/* Cuando queremos mandar a otra pagina para mostrar mas */
.card-product.card-final .card-content {
    border-radius: 100%;
    width: 50%;
    background: #f5cc1c;
}


/* Cuando queremos mandar a otra pagina para mostrar mas */
.card-product.card-final .card-content p.card-title{
    border:none;
    font-size: 24px;
}

.card-product.card-final .card-content p.card-title a{
    color: #fff;
    text-decoration: none;
}

.card-product.card-final .card-content p.card-title a:hover{
    text-decoration: underline;
}


.card-content img {
    width: 90%;
    height: 200px;
}

.card-content .card-title {
    font-weight: 900;
    font-size: 25px;
    font-style: italic;
    color: #ef3c31;
    padding: 8px;
    /* text-transform: uppercase; */
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
}

.card-content .card-description {
    text-align: center;
    font-weight: 300;
}

.card-content .card-price {
    font-size: 30px;
    font-weight: 900;
}

.card-content > a {
    text-decoration: none;
    color: #1d1d1d;
    background: #f5cc1c;
    padding: 15px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    border-radius: 10px;
    font-weight: 900;
    font-style: italic;
    transition: width ease .3s;
}

.card-content a:hover{
    width: 100%;
}

.product-slide-btns {
    position: absolute;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /* padding: 10px; */
    z-index: 10;
}

.product-slide-btn {
    /* border:none; */
    height: 100px;
    width: 50px;
    background: #1d1d1d;
    opacity: 0.5;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #fff;
    transition: all ease .3s;
}

.product-slide-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.top-sellers {
    min-height: 600px;
    background: #1d1d1d;
}

.responsive-footer {
    display: none;
}

footer {
    /* display: flex; */
    /* flex-flow: row wrap; */
    color: #1d1d1d;
    padding: 20px 0;
    /* justify-content: center; */
    /* align-items: center; */
    background: #ef3c31;
    border-top: 7px solid #f5cc1c;
    position: absolute;
    bottom: 0;
    /* box-sizing: border-box; */
    min-height: 150px;
    width: 100%;
}

footer .wrap {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer .footer-info {
    width: 40%;
}

footer img {
    width: 20%;
}

footer button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #f5cc1c;
    color: #1d1d1d;
    font-weight: 900;
    padding: 15px;
}


footer button:hover {
    cursor: pointer;
}

footer .footer-work {
    width: 40%;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center; */
}

footer .footer-work a {
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background: #f5cc1c;
    color: #1d1d1d;
    font-weight: 900;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}

footer .footer-work a:hover{
    color: #fff;
}

footer p {
    text-align: center;
    padding: 15px;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 900;
    font-style:italic;
    width: 100%;
    box-sizing: border-box;
}

footer p.final-footer {
    width: 100%;
}

footer img {
    width: 150px;
    align-self: center;
    margin-bottom: 20px;
}


.social-media {
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-media a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f5cc1c;
    font-size: 40px;
    color: #1d1d1d;
}

.social-media a:not(:last-child){
    margin-right: 20px;
}

@media screen and (max-width: 1706px) {
    header nav .wrap {
        width: 80%;
    }

    .wrap {
        width: 80%;
    }

    .product-slider {
        width: 80%;
    }

    .product-slide-btns {
        width: 80%;
    }
}

@media screen and (max-width: 1290px){
    header nav .wrap {
        width: 90%;
    }
}

@media screen and (max-width: 1140px){
    header nav {
        height: 75px;
        /* flex-flow: column nowrap;
        align-items: center; */
    }
    header nav .wrap .menu-items a {
        font-size: 13px;
        padding: 10px;
    }

    .menu-items {
        display: none;
    }
    header nav .wrap .menu-items.right-menu-items {
        display: none;
    }

    .menu-responsive-items {
        display: flex;
        width: 100%;
        justify-content: center;
    }


    header nav .wrap .menu-logo {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
    }

    header nav .wrap .menu-logo img{
        width: 75px;
    }


    footer {
        margin-bottom: 60px;
    }

    .responsive-footer {
        display: flex;
        background: #ef3c31;
        position: fixed;
        /* top: 100vh; */
        bottom: 0;
        box-shadow: 0px -5px 20px 3px rgba(0,0,0,0.34);
        height: 60px;
        /* align-items: center; */
        /* bottom: 0vh; */
        /* justify-content: space-between; */
        width: 100%;
        z-index: 5000;
    }

    .responsive-footer a {
        width: 33%;
        color: #fff;
        font-size: 22px;
        /* padding: 15px; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        font-weight: 900;
        text-decoration: none;
        /* text-align: center; */
    }

    .responsive-footer a:not(:last-child){
        border-right: 1px solid #f5cc1c;
    }

    .slider {
        height: 250px;
    }
    
    .slides {
        height: 250px;
    }
    

    
    .slide img {
        height: 250px;
    }
    
    .slide .slide-img {
        /* background-color: black; */
        height: 250px;
        background-size: 100% 250px;
        /* backdrop-filter: blur(20px); */
    }

    .slide .slide-img .slide-content {
        width: 80%;
    }

    .slide .slide-img .slide-content h2 {
        font-size: 40px;
    }

    .slide .slide-img .slide-content .promotion-description {
        font-size: 16px;
        width: 100%;
        margin-right: 0%;
        /* margin-left: 0%; */
    }

    .slide .slide-img .slide-content.slide-content-right .promotion-description {
        margin-left: 0%;
    }

    .slide .slide-img .slide-content .promotion-btns a {
        font-size: 10px;
        padding: 10px;
    }

    .navigation-manual {
        margin-bottom: 10px;
    }

    .recommended .products {
        flex-flow: row wrap;
    }

    .recommended.wrap {
        width: 90%;
    }

    .recommended h2 {
        font-size: 30px;
    }

    .recommended .products .box {
        width: 49%;
        min-height: 100px;
        max-height: 200px;
        margin-left: 0px;
        margin-right: 0%;
    }

    .recommended .products .box .product-title {
        font-size: 16px;
    }

    .recommended .products .box .product-img{
        max-width: none;
        width: 100%;
        height: 75px;
    }


    .recommended .products .box .details {
        font-size: 9px;
        display: block;
    }

    .recommended .products .box a {
        font-size: 8px;
        width: 100%;
        display: block;
        padding: 10px;
    }

    /* Slider modificado */


    .recommended-to-user h2 {
        font-size: 30px;
    }

    .product-slider {
        width: 90%;
    }

    .product-slide {
        width: 10%;
    }


    .product-slides {
        height: 300px;
    }
    
    .card-product {
        height: 300px;
        padding: 10px;
        /* border: 1px solid black; */
        /* z-index: 3; */
    }
    

    .product-slide-btns {
        width: 90%;
    }

    .product-slide-btn {
        width: 30px;
        height: 60px;
    }

    .card-content img {
        width: 80%;
        height: 70px;
    }
    
    .card-content .card-title {
        /* font-weight: 900; */
        font-size: 18px;
        /* font-style: italic; */
        /* color: #ef3c31; */
        /* padding: 8px; */
        /* text-transform: uppercase; */
        /* border-bottom: 1px solid rgba(0,0,0,0.2); */
        /* text-align: center; */
    }
    
    .card-content .card-description {
        /* text-align: center; */
        font-size: 10px;
        /* font-weight: 300; */
    }
    
    .card-content .card-price {
        font-size: 18px;
        /* font-weight: 900; */
    }
    
    .card-content > a {
        padding: 10px;
        font-size: 10px;
    }
}