header {
    margin-bottom: 30px;
}

body {
    background: #eee;
    /* background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 100%;
    background-attachment: fixed; */
}

main {
    display: flex;
    flex-flow: row nowrap;
}

.wrap {
    width: 90%;
}

main .filters {
    /* height: 600px; */
    width: 15%;
    background: #ef3c31;
    border-radius: 10px;
    border-bottom: 7px solid #f5cc1c;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    /* position: fixed; */
    /* z-index: 1000; */
    /* align-items: center; */
}



main .filters .filter-item {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    font-style: italic;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #f5cc1c 50%, #ef3c31 50%);
    transition: background-position ease .4s;
    /* background-color: #f5cc1c; */
}

main .filters .filter-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .filters .filter-item:hover {
    background-position: 0 100%;
    color: #1d1d1d;
}

main .filters .filter-item:not(:last-child){
    border-bottom: 5px solid #f5cc1c solid #f5cc1c;

}


main .food-items {
    width: 68%;
    margin-left: 1%;
    margin-right: 1%;
    /* background: #fff; */
    border-radius: 10px;
}

main .food-items {
    display: flex;
    /* padding: 0 20px; */
    /* background: #fff; */
    box-sizing: border-box;
    justify-content: space-around;
    flex-flow: row wrap;
}

main .food-items h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
    /* color: #1d1d1d; */
    background-color: #f5cc1c;
    border-radius: 10px;
    color: #ef3c31;
    font-weight: 900;
    font-style: italic;
}

main .food-items .card-content {
    width: 24%;
    height: 450px;
    box-shadow: -1px 22px 37px -20px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 22px 37px -20px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 22px 37px -20px rgba(0,0,0,0.42);
    /* border: 1px solid #ddd; */
    margin-bottom: 20px;
    transition: transform ease .2s;
}

main .food-items .card-content:hover {
    transform: scale(1.04);
    z-index: 5000;
}

main .food-items .card-content a {
    margin-bottom: 5px solid #f5cc1c;
}

a.btn-details {
    background: #ef3c31;
    color: #fff;
}


/* main .food-items .card-content:not(:last-child){
    margin-right: 1%;
} */

main .food-items .card-content.basic-product {
    width: 33%;
    /* height: 500px; */
}

main .info-aside {
    background: #ef3c31;
    padding: 20px;
    width: 15%;
    height: 30%;
    border-radius: 10px;
}

main .info-aside h3 {
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

main .info-aside h4 {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    margin-top: 10px;
}

main .info-aside p {
    color: #fff;
    /* font-weight: 900; */
    letter-spacing: 2px;
    text-align: center;
}

main .specific-filters {
    background: #fff;
    padding: 15px;
    width: 15%;
    display: flex;
    border-radius: 10px;
    /* position: fixed; */
    height: 30%;
    flex-flow: column nowrap;
}

main .specific-filters h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    color: #1d1d1d;
    margin-bottom: 15px;
}

main .specific-filters label {
    margin-bottom: 15px;
    font-weight: 900;
    font-style: italic;
    color:#ef3c31;
}

main .specific-filters select {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #1d1d1d;
    margin-bottom: 15px;
    /* font-weight: 600; */
    color: #1d1d1d;
}

main .specific-filters button {
    width: 100%;
    padding: 15px;
    background: #ef3c31;
    border:none;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 5px solid #f5cc1c;
}


.btn-toppings {
    text-align: left;
    margin-bottom: 0;
}

.specific-filters button:hover {
    cursor: pointer;
}

.specific-filters .toppings-filter {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.specific-filters .toppings-filter .acord-cont{
    max-height: 0;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ef3c31 #ddd;
    /* scrollbar */
    /* scrollbar-base-color: #ef3c31; */
    transition: all ease .2s;
    margin-bottom: 10px
}
.specific-filters .toppings-filter .acord-cont.active {
    padding: 0 15px;
    max-height: 300px;
    overflow-y: scroll;
}


.specific-filters .toppings-filter .acord-cont .topping-check {
    margin-bottom: 10px;
}

.specific-filters .toppings-filter .acord-cont .topping-check input {
    margin-right: 5px solid #f5cc1c;
}

.specific-filters .toppings-filter .acord-cont .topping-check label:hover {
    cursor: pointer;
}

/* main .specific-filters .toppings-filter .acord-cont .topping-check input {
    display: none; 
} 
*/

@media screen and (max-width: 1140px) {
    header {
        margin-bottom: 10px;
    }
    main {
        flex-flow: column nowrap;
    }

    main .filters {
        width: 100%;
        min-height: 70px;
        height: 70px;
        max-height: 150px;
        padding: 0px;
        flex-flow: row wrap;
        justify-content: space-around;
        /* overflow: scroll; */
        margin-bottom: 10px;
        align-items: center;
        order: 1;
    }

    main .filters .filter-item {
        /* flex-flow: column nowrap; */
        flex-direction: column;
        width: auto;
        /* width: auto; */
        font-size: 10px;
        /* justify-content: center; */
        /* align-items: center; */
        border-bottom: none;
        border-radius: 0px;
        padding: 5px;
        /* height: 100%; */
        background: none;
    }

    /* main .filters .filter-item:not(:last-child){
        border-right: 1px solid #fff;
    } */

    main .filters .filter-item:first-child {
        border-radius: 0px;
    }
    

    main .food-items {
        width: 100%;
        order: 3;
        margin-left: 0px;
    }
    
    main .food-items h2 {
        font-size: 30px;
    }
    
    main .food-items .card-content {
        width: 45%;
        height: 300px;
    }


    main .specific-filters {
        width: 100%;
        order: 2;
        align-self: flex-start;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    main .specific-filters h3{
        font-size: 20px;
        margin-bottom: 10px;
    }

    main .specific-filters label {
        font-size: 12px;
    }

    main .specific-filters button {
        font-size: 12px;
        padding: 10px;
    }

    main .info-aside {
        width: 100%;
        box-sizing: border-box;
        order: 2;
        padding: 10px;
        margin-bottom: 10px;
    }

    main .info-aside h3 {
        font-size: 20px;
    }
    main .info-aside p {
        font-size: 12px;
    }
    main .food-items .card-content.basic-product {
        width: 45%;
    }
}