﻿@model ContactViewModel
@{
    ViewData["Title"] = "Contactanos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/jobstyles.css">
    <link rel="stylesheet" href="~/css/contactstyles.css">
}

<main class="wrap">
    <div class="job-information">
        <h1>Nos interesa tu opinión!</h1>
        <img src="img/contact.svg" alt="puestos de trabajo">
        <h2>Puedes contactarnos mediante: </h2>
        <p>Nuestro correo electronico:</p>
        <!-- <input type="text" id="mail-data" value="contacto@mutchapizza.com.mx"> -->
        <a href="mailto:contacto@mutchapizza.com.mx" class="mail-link">contacto@mutchapizza.com.mx</a>
        @*<button class="copy-to"><i class="far fa-copy"></i></button>*@
    </div>
    <form asp-controller="Contactanos" asp-action="SendOpinion">
        @if (ViewBag.ShowSuccessMessage)
        {
            <div class="success-message">Tu comentario ha sido enviado correctamente.</div>
        }
        <h2>Contáctanos</h2>
        <label for="name">Nombre: </label>
        <input type="text" id="name" placeholder="Ingresa tu nombre:" asp-for="Nombre">
        <span class="validation-message" asp-validation-for="Nombre"></span>
        <label for="email">Correo Electrónico: </label>
        <input type="email" id="email" placeholder="Ingresa tu correo electronico:" asp-for="Email">
        <span class="validation-message" asp-validation-for="Email"></span>
        <label for="subject">Asunto:</label>
        <input type="text" id="subject" placeholder="Ingresa el asunto de tu mensaje" asp-for="Asunto">
        <span class="validation-message" asp-validation-for="Asunto"></span>
        <label for="message">Mensaje: </label>
        <textarea placeholder="Escribe aqui tu mensaje" id="message" asp-for="Mensaje"></textarea>
        <span class="validation-message" asp-validation-for="Mensaje"></span>
        <div asp-validation-summary="ModelOnly"></div>
        <button>Enviar</button>
    </form>
</main>